[2015-10-28 18:10] mebjas opened #1 "the video get stuck in mobile browser"
Tested on `chrome 39.0.2171.93` on `Android 5.0.2`

[2016-09-22 23:12] Prestodus opened #2 "MediaStreamTrack.getSources() deprecated."
MediaStreamTrack.getSources() seems to be deprecated and can be replaced by MediaDevices.enumerateDevices().

[2016-09-29 20:21] mebjas commented on #2
@Prestodus feel free to send a pull, I'll verify and merge.
Too stuck up between work these days to learn and write :p

[2018-06-01 06:44] ChandraOrbit opened #3 "how to change Backend camera on android"
how to change the display to the rear camera on the smartphone ?

[2018-06-07 08:04] mhatvan commented on #3
Hey ChandraOrbit, at my company, we found a solution to use all cameras available.
Since this library is more than 3 years old, MediaStreamTrack seems to be deprecated.

you will need to fork the html5-qrcode.js file yourself, switch out the part with MediaStreamTrack.getSources(gotSources) with the example in this one ->
https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/enumerateDevic

[2018-06-07 21:21] ChandraOrbit commented on #3
OK thanks, I am now trying the latest update update from matthiaseigner

[2018-06-07 21:23] ChandraOrbit opened #4 "[Feature Request] Add support to Upload picture"
there is one request if possible.
can it be added to upload the image. so do not just rely on camera only but can to do scanning in the form of picture

[2019-02-06 21:17] NateZimmer opened #5 "Does this still work?"
This library would be incredibly neat if it worked for it is far tinier than many other implementations. However, when I use this in my browser I see no image from the camera and it yields the following error in the console:

[code]

Edit: i'm using chrome on a laptop:
[code]

[2019-02-12 10:09] mebjas commented on #5
@NateZimmer Thanks for reporting. I have pushed the fix and updated the sample code in this repository. It's not yet updated in the demo link, so can you validate it's working status by running the sample code in your environment?

[2019-02-12 10:11] mebjas commented on #4
@ChandraOrbit I know it's too late but would like to take this up

[2019-02-12 10:12] mebjas commented on #2
- [ ] @mebjas look into this and onboard

[2019-02-21 23:48] IvanPime opened #6 "Navigator.getUserMedia() is deprecated, advised to use MediaDevices.getUserMedia() instead"
No work on Safari 12.0.3 and mobile devices

[2019-02-22 10:15] mebjas commented on #6
Is it the latest code or the demo link that is not working?

[2019-02-24 12:35] mebjas commented on #5
@NateZimmer can you validate once?

[2019-09-19 06:37] naton commented on #5
Is it possible to update the demo as well? This project would see far more traction if URLs in the README actually worked.

[2020-02-28 10:00] mebjas opened #7 "In sample, clicking on start creates two blocks"
In the sample, the code example creates two copy of the div when `start` is clicked twice

[2020-02-28 10:01] mebjas opened #8 "Switch camera doesn't work on android chrome"
To be validated on other browsers, but switch camera doesn't work on Android Q Chrome.

Validated on Google Chrome, Pixel 3, Android Q

[2020-02-28 10:07] mebjas opened #9 "Sample doesn't work for iphone 7"
Sample doesn't seem to be working for iphone 7 - verified on chrome and safari

[2020-02-28 10:20] mebjas opened #10 "html5_qrcode_stop should support callbacks as well."
How to reproduce the pain-point:
 - Go to sample: https://blog.minhazav.dev/research/html5-qrcode.html
 - Start on a workstation without camera.
 - Click on `stop` button to call `html5_qrcode_stop`

It doesn't stop.

Alternatively, have a start failed callback in `html5_qrcode`

[2020-02-28 10:22] mebjas commented on #7
This should be supported at library level.

[2020-02-28 20:43] mebjas commented on #8
Fixed in latest code change.

[2020-02-28 20:43] #8 closed

[2020-02-28 20:43] mebjas commented on #7
Fixed, reference: https://blog.minhazav.dev/research/html5-qrcode.html

[2020-02-28 20:43] #7 closed

[2020-02-28 20:44] mebjas commented on #6
Support added, thanks for pointing out. Apologies for the delays.

Demo: https://blog.minhazav.dev/research/html5-qrcode.html

[2020-02-28 20:44] #6 closed

[2020-02-28 20:44] mebjas commented on #5
Updated the code to support new apis against the deprecated ones. Added better documentation and fixed the demo code.

Demo code: https://blog.minhazav.dev/research/html5-qrcode.html

[2020-02-28 20:45] mebjas commented on #5
Should have been fixed now. Closing for now.
Feel free to reopen if still able to reproduce the issue.

[2020-02-28 20:45] #5 closed

[2020-02-28 20:45] mebjas commented on #3
Added more support in the demo: https://blog.minhazav.dev/research/html5-qrcode.html

[2020-02-28 20:46] #3 closed

[2020-02-28 20:46] mebjas commented on #2
Added support to the latest APIs with backward support for the former.

Demo: https://blog.minhazav.dev/research/html5-qrcode.html

[2020-02-28 20:46] #2 closed

[2020-02-28 20:47] mebjas commented on #1
Fixed.

[2020-02-28 20:47] #1 closed

[2020-03-22 13:47] mebjas commented on #4
This one to be taken up if more request comes up.

[2020-04-03 13:52] mebjas opened #12 "Android - not getting camera name"
Unable to get camera id / label in Android - just gives blank string.

[2020-04-04 12:20] mebjas opened #13 "Compatibility - Android Opera Mini - Not getting camera labels"
### Tested on:
Android Version: Android Q, Pixel 3
Browser: Opera Mini
Version: 47.0.2254.146760

### Issue:
Unable to get camera name, but QR Code scanning working.

[2020-04-04 12:39] mebjas opened #14 "Compatibility - [ios] [All Browser] - [Query Camera]"
## Query camera is not working for Opera, Edge, Firefox and Chrome.

For Safari the query is working but the stream is not realtime.
For chrome

**Describe the browser:**
 - OS: iOS in Iphone 7 and IPad 9.7
 - Browser: all

[2020-04-04 13:04] mebjas commented on #10
Fixed in v1.0.0

[2020-04-04 13:04] #10 closed

[2020-04-04 13:04] mebjas commented on #12
Fixed in v1.0.1

[2020-04-04 13:04] #12 closed

[2020-04-04 14:15] mebjas opened #16 "Compatibility - [Mac Os] [Opera] - [Camera Query not working]"
**Describe the bug**
Camera Query not working

**Describe the browser:**
 - OS: Mac OS
 - Browser: Opera
 - Version: Latest Version

[2020-04-10 08:53] mebjas opened #18 "Add support for automated transpiling and minification"
Current workflow before sending a change is like this:
1. Make changes to `html5-qrcode.js`
2. Transpile it to proper js code using `babeljs.io`  --> `transpiled/html5-qrcode.js`
3. Minify `jsqrcode-combined.js` and this transpiled code and merge them to `minified/html5-qrcode.min.js`

It'd be good to automate these steps.

[2020-04-10 08:54] mebjas opened #19 "Add tests and CI"
Add test for the js code and connect to some CI like travis CI

[2020-04-11 07:32] aamirbilvani commented on #14
Hi, what's the status of this issue? I was wondering when you might be able to fix it. Please let me know. Thanks.

PS. Love this plugin.

[2020-04-11 08:33] mebjas commented on #14
Thanks, this is a weird issue and I am afraid it's a limitation of WebKit rendering engine used in IOS Chrome and Firefox - https://stackoverflow.com/questions/51501642/chrome-and-firefox-are-not-able-to-access-iphone-camera

[2020-04-11 08:43] aamirbilvani commented on #14
What about Safari?

[2020-04-11 09:08] mebjas commented on #9
While this may not work on chrome due to limitation of `WebKit` on IOS it's not working in Iphone Safari as well with following error:

[code]

So in `IPhone + Safari` it's able to request the camera permission, get list of cameras, and start scanning but when we do `video.play()` it throws the above exception.

Changing the scope of this bug to fix this issue alone. The code not working for other

[2020-04-11 09:09] mebjas commented on #14
So I verified that none of the webcam based approach work on any other browsers on IOS other than safari.

As for safari - I verified this to work on IPad, but for IPhone it has another problem, when we get the webcam access and want to stream the webcam feed to a video, it throws this exception and the scanner cannot run:

[code]

This is being tracked in https://github.com/mebjas/html5-qrcode/is

[2020-04-11 09:10] mebjas commented on #9
More details on policies around `video` in webkit for ios - https://webkit.org/blog/6784/new-video-policies-for-ios/

[2020-04-11 09:10] mebjas commented on #9
@aamirbilvani Track this bug - I'll try to find a workaround for this and make it working for ios Safari.

[2020-04-11 09:13] mebjas opened #20 "[Feature Request] Add support for QR Code Generation"
Add an API to generate QR Code

[2020-04-11 09:35] mebjas opened #21 "Compatibility - [IOS] [Safari] - The visible QR box region and canvas are not aligned"
**Describe the bug**
The region visible under the qrbox (region other than the shaded region) is not exactly aligned with the what is printed on canvas leading to bad UX during scanning.

**Describe the browser:**
 - OS: IOS
 - Browser Safari
 - Version Latest

**Additional context**
 - To reproduce make the canvas visible and see the output.
 - Validate this for other android browsers as well.

[2020-04-11 09:46] mebjas commented on #9
Fixed with https://github.com/mebjas/html5-qrcode/commit/4c287088cbae2ae89a0485a5552435a8f8da66a7

[2020-04-11 09:47] mebjas commented on #9
As per the webkit article setting following properties of `video` to true

[code]
allow us to call `video.play()` without issue.

[2020-04-11 09:47] #9 closed

[2020-04-11 09:48] mebjas commented on #14
The ios safari issue has been now fixed: https://github.com/mebjas/html5-qrcode/commit/4c287088cbae2ae89a0485a5552435a8f8da66a7

Try https://blog.minhazav.dev/research/html5-qrcode for demo. However, I observed another issue: https://github.com/mebjas/html5-qrcode/issues/21

Will try to fix this soon as well.

[2020-04-11 09:50] aamirbilvani commented on #14
Awesome, thanks for the quick turnaround. Let me try it out.

[2020-04-11 09:53] mebjas commented on #4
Add support for using `<input>` which can be used directly by cameras in the modern smartphones.

Some reference
 - https://developers.google.com/web/fundamentals/media/capturing-images
 - https://developers.google.com/web/fundamentals/media/recording-video

[2020-04-11 10:14] mebjas commented on #18
Transpiling added https://github.com/mebjas/html5-qrcode/commit/ec9e68a7422603c1b3115370ff097f200e3f5690

[2020-04-11 10:23] mebjas commented on #16
This is functional, no issue found in latest code.

[2020-04-11 10:23] #16 closed

[2020-04-11 10:35] mebjas commented on #13
Different observation on different Opera versions:
 - [x] Working in Opera and Opera Beta, but there is an additional system dialog for choosing camera and camera labels are not retrieved by default.
 - [ ] Working in Opera Mini Beta, but doesn't get label of the camera even with permission - doesn't even show system dialog for labels.
- [ ] Opera touch - permission denied.

[2020-04-11 10:41] mebjas opened #22 "Compatibility - [Android] [UC Browser] - Video feed not showing up"
**Describe the bug**
Able to get camera list, but viewfinder doesn't show up

**Describe the browser:**
 - OS: Android
 - Browser: UC Browser
 - Version: Latest

[2020-04-11 11:01] mebjas commented on #21
The canvas drawn is purely based on some predetermined width and height, while the video feed has it's own dimension.

Use
[code]

To get information on this. Ideally the viewfinder should show only this and the shaded region should be constrained within this.

Add a configurable property to begin with

[2020-04-18 09:34] mebjas commented on #4
Pull request sent - https://github.com/mebjas/html5-qrcode/pull/24

[2020-04-18 09:40] mebjas commented on #4
Feature added, closing.

[2020-04-18 09:40] #4 closed

[2020-04-18 11:36] mebjas commented on #14
@aamirbilvani With this https://github.com/mebjas/html5-qrcode/pull/24 I have added support for scanning local media on device. This implicitly adds scanning using default camera on device.

This can be used as fallback on browsers that do not support inline QR code scanning. Like non Safari browsers on IOS.

https://blog.minhazav.dev/HTML5-QR-Code-scanning-support-for-local-file-and-default-camer

[2020-04-18 12:07] mirkoprog opened #25 "not found any camera from mobile"
not found any camera on mobile and i dont have error in console, it work on pc.
i have try with your code but is same

this is my code
[index.txt](https://github.com/mebjas/html5-qrcode/files/4496589/index.txt)

[2020-04-19 05:52] mebjas commented on #25
Ok this code is a clone of demo code. As @ziobit mentioned in another comment - are you trying this in `http` or `https` version?

[2020-04-19 07:18] mirkoprog commented on #25
Http

[2020-04-19 07:47] mebjas commented on #25
So it'd work only on localhost http. Otherwise, you need to use `https` for servers - this is a requirement by browsers to access Camera as it's a privacy concerning permission.

I have updated this in `README`

[2020-04-20 22:36] mirkoprog commented on #25
ok thanks a lot, now i can open the camera but when i frame a qrcode nothing happens

[2020-04-21 09:31] mebjas commented on #25
Can you share a video ?

[2020-04-30 04:53] OneDivZero opened #26 "Recognized scan-region for small viewports"
**Bug**
There seems to be a problem with the recognized scan-region for small viewports. I printed a qr-code in the size of a hand and I'm trying it to scan with an iPhone 7 using a qr-box with 350x350px (and boxsize in code is not set, thus it should use full dimension).

You have to hold your phone about 0,5m far away only for having a chance to get a match. And then it only succeeds in round ab

[2020-04-30 04:58] OneDivZero commented on #26
Maybe related to
https://github.com/mebjas/html5-qrcode/issues/21
?

[2020-04-30 14:23] mebjas commented on #26
In that case I'll fix https://github.com/mebjas/html5-qrcode/issues/21 first and we can see if this is still an issue

[2020-04-30 17:34] OneDivZero commented on #26
That would be great! Hope you'll find time as soon as possible. Just asking a bit obtrusive, cause the core of my project depends on your solution and I already checked out other libs. But either they are not really maintained and extremely buggy or to complex to integrate (e.g. they require server-side processing which is not an applicable use-case for me).

Just FYI: I'm working on an open-sourc

[2020-05-01 05:39] mebjas commented on #21
![Screenshot 2020-05-01 at 1 37 38 PM](https://user-images.githubusercontent.com/3007365/80784857-0524ee00-8bb1-11ea-83c1-b9941a8e8b35.png)

The bug is high priority for mobile devices as the region shown on viewfinder is not same as the one being sensed by the Qr code scanner.

[2020-05-01 05:40] mebjas commented on #21
Validate on web, the regions are not same.

[2020-05-01 07:08] mebjas opened #27 "Slow video rendering on web camera with high resolution and framerate"
On my Logitech web camera with following capabilities
[code]

The video rendering is slow.

[2020-05-01 07:08] mebjas commented on #25
@mirkoprog any updates on this?

[2020-05-01 09:12] mebjas opened #29 "Fix linting in html5-qrcode.js"
Due to inconsistent liniting between editors inconsistency has come up. fix it

[2020-05-01 09:27] mebjas opened #30 "Do not allow start() to be called if already running and similarly for stop()"
per title, right now there are three methods that act on common container
 - `start()`
 - `stop()`
 - `scanFile()`

these should be called only state-fully else should throw an error.

[2020-05-01 09:42] mebjas commented on #21
Marking as fixed

[2020-05-01 09:42] #21 closed

[2020-05-01 09:43] mebjas commented on #26
@OneDivZero I have fixed https://github.com/mebjas/html5-qrcode/issues/21 with a recent push. I have also updated the [demo code](https://blog.minhazav.dev/research/html5-qrcode)

Can you validate if it fixes this issue for you?

[2020-05-01 09:56] #29 closed

[2020-05-01 13:32] OneDivZero commented on #26
Yes that looks great ... It works on my iPhone as expected. I will acquire some friends for doing a test on different devices for further confirmation. Thank you!

[2020-05-01 14:33] mebjas commented on #26
![image](https://user-images.githubusercontent.com/3007365/80812970-a6d12d00-8bfb-11ea-86e7-ff6fcc2919bd.png)

Validated to work fine on IPhone 7, Safari browser. Unfortunately only safari is supported on iphone due to issue in Webkit for ios

[2020-05-01 14:34] mebjas commented on #26
Thanks for confirmation!

[2020-05-03 09:57] mebjas commented on #26
@OneDivZero Closing this issue, feel free to reopen if this is found in some other device/browser or create a new issue.

[2020-05-03 09:57] #26 closed

[2020-05-03 17:16] OneDivZero commented on #26
kk ... will share my test-results in a new issue

btw: I picked up the latest script from github, but I don't see the green edges?

[2020-05-03 17:32] OneDivZero opened #34 "Field-Test for compatibility (Mobile-Only)"
Maybe we can keep this ticket running for continuous feedback.

**Keys:**
Cams: Num of cams
QR: Does QR-Scanning work?
File: Does File-Scanning work?
AS: AutoSelect back-camera (pattern-matching on label)
SC: Stream-Close after scan (currently a problem; TBR)

... AS is not relevant for your code-base, but I'll just copy and paste my test-table ... just ignore it

**Error-Cases:**
1) Just really n

[2020-05-03 17:33] OneDivZero commented on #34
2020-05-03

![image](https://user-images.githubusercontent.com/1638511/80921170-fd15ab80-8d74-11ea-994d-955760ea481a.png)

[2020-05-03 17:38] OneDivZero commented on #34
I can send you personally a link to my test-playground. I will not make this link publicly, cause I have a paid device-detection-solution running on it.

[2020-05-03 18:17] OneDivZero opened #35 "Camera does not stop scanning"
**Describe the bug**
A call to stopScanning() does not stop scanning im some cases.
Maybe it's a problem, that I'll do this in a timeout-callback.

Reason: I'am doing a pattern-matching on scanned result ... this happens very fast in success-case. For providing a better UX, I add a small timeout for giving interaction-feedback to current user ... before I'll do other stuff in my final implementati

[2020-05-04 14:47] ryan-consylman opened #36 "Camera zoomed out and to one corner"
I am having a problem in which the canvas element does not match the video element. The video centers in and looks right. However, if I make the canvas element visible it has a very different view which is looks like the high left corner of the camera zoomed out. This seems to be the case across devices and browsers, but is worse on smaller devices. Any ideas what could cause these two elements to

[2020-05-04 16:44] OneDivZero commented on #36
maybe related to: https://github.com/mebjas/html5-qrcode/issues/26

[2020-05-04 17:00] ryan-consylman commented on #36
Thanks for the tip. Looks like a fix was pushed for this and I have the most recent. Also, the issue seems slightly different.

[2020-05-05 01:20] mebjas commented on #26
@OneDivZero - Can you check for console logs, the white/green edges should be visible if there is enough region left in the viewfinder to render based on width and the qrbox size configured.

Also, since looking for logs in mobile devices is harder, I was thinking if I should add a debug option which somehow makes more logs / error visible.

What do you think?

[2020-05-05 01:29] mebjas commented on #34
This is pretty cool, @OneDivZero - I created a []() with https://github.com/mebjas/html5-qrcode/commit/c0cc7586a7a7878e8c4c0710adc41701302e3219

If you don't mind would you be interested in sending a pull request with devices you have already tested and in future send updates for if you test more. This would be very helpful for many who wouldn't have to do more exercise.

I'll also add devices I h

[2020-05-05 01:33] mebjas commented on #35
`stopScanning()` is a promised based API and may not be instantaneous as it needs to cleanup - on going video stream and scanning.

Would this way help
[code]

[2020-05-05 01:35] mebjas commented on #36
@ryan-consylman As reported by @OneDivZero there was a recent fix for related issue. Looks like this doesn't fully solve the issue. Could you share more details like OS, Browser where you are seeing this issue and also attach a screenshot and some error logs if exists ?

[2020-05-05 12:50] ryan-consylman commented on #36
![qr_barcode_issue](https://user-images.githubusercontent.com/50520672/81067811-4832da00-8ead-11ea-8971-ff5d266cf30a.png)

I am using Chrome on Android and a Windows 10 PC, but the issue seems to be cross browser but specific to my installation. Your examples work fine for me. However, I haven't really changed anything so I was just hoping you had an idea.

[2020-05-05 15:01] mebjas commented on #36
I see that you don't have qrbox visible, did you call `start()` with config different from following code?

[code]

Can you tell the width and height of the `<div>` element where the elements are added?

[2020-05-05 15:11] kenfookchoong opened #38 "Video Error , error = Error getting userMedia, error = NotReadableError:Could not start video source on low end Android devices"
**Describe the bug**
When you press request permission button.
It will run **navigator.mediaDevices.getUserMedia({ audio: false, video: true }).then(_ =>** from static getCameras() method
- which causes the browser to already start accessing the video input. Causing NotReadableError when pressing start scanning after selecting the **REAR CAMERA** (**Front camera has no issues**)
- But do note that

[2020-05-05 15:12] kenfookchoong commented on #38
Good day, I hope my raised issue helps, as you help me by creating this API
Thanks a lot!

[2020-05-05 21:32] nanasare opened #39 "Demo QR Code scanner unable to read code"
**Describe the bug**
I tried the demo but the scanner is unable to decode my QR code. Everything else works up until that point. Accept my sincere apology if I'm doing something wrong. Thanks for your great work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://blog.minhazav.dev/research/html5-qrcode.html
2. Click on Request Permission
3. Click on "start scanning"
4. Position yo

[2020-05-05 22:13] nanasare commented on #39
I tried it again and it is now working. Sorry for the inconvenience. Thanks again for your awesome work.

[2020-05-05 22:13] #39 closed

[2020-05-06 00:21] mebjas commented on #25
Closing this bug as obsolete. @mirkoprog please feel free to reopen if this continues to happen.

[2020-05-06 00:21] #25 closed

[2020-05-06 00:24] mebjas commented on #38
Thanks @kenfookchoong for raising this concern I'll have a deeper look into this.

The reason for calling
[code]

in `request permissions` is some browsers in some OS do not give details on the camera name unless user grants permission.

I'll rethink the APIs which would allow you to choose which pattern you want to follow.

[2020-05-06 01:27] kenfookchoong commented on #38
@mebjas
Alright sir!

Now I understand, the reason of that code.
Thanks for pointing out !

Then my suggested fix is not a fix. So sorry

Regards,
Ken

[2020-05-06 02:05] kenfookchoong commented on #38
Hi @mebjas

Here's a simple fix from my end.
Please try it out =)

**navigator.mediaDevices.getUserMedia({ audio: false, video: true })
                    .then(_ => {**
                        **_.getTracks().forEach(videoStream => videoStream.stop());**

Regards,
Ken

[2020-05-06 12:13] ryan-consylman commented on #36
The qrbox is visible. I just hid the shadowing around it. I suspect this is something specific to my installation and I have found a workaround by hiding the video and showing the canvas element. The camera angle is still off, but it does allow the user to see the box they need to place the barcode inside and successfully scan. I don't want to tie up more of your time. Appreciate the plugin!

[2020-05-06 12:13] #36 closed

[2020-05-06 13:23] mebjas commented on #36
Ok, however if there is a bug like this still there I'd be happy to solve it.

Please let me know if your app is public or accessible so I can debug myself sometime to see whats going on.

[2020-05-06 15:30] ryan-consylman commented on #36
I will do that when it becomes public. Thanks again!

[2020-05-07 13:13] OneDivZero commented on #34
@mebjas cool! yes I can send a pull-request. I have an update on this topic too.

[2020-05-07 13:14] OneDivZero commented on #38
I can confirm this Issue for Android 7, 8, 9, but not for 10 all using chrome.

[2020-05-08 07:12] mebjas opened #40 "[Feature Request] Support ondevice rotation in Mobile devices"
The library doesn't adapt to orientation changes or size changes of the browser tab. Which distorts the whole UI in case of rotation

For example this is the visible UI in case `auto rotate` is on on an Android device and the device is rotated after the UI has rendered

![image](https://user-images.githubusercontent.com/3007365/81380862-2ef48c80-913e-11ea-8863-fdeecda3f76f.png)

Similar observed f

[2020-05-08 07:22] mebjas opened #41 "getCameras() starts video access, while ideally it should only report available devices"
Actually reported in https://github.com/mebjas/html5-qrcode/issues/38 by @kenfookchoong

If possible it'd be good if this API only queried the list of cameras and not start video access.

This issue has been verified on Android, IOS and Mac

Tagging @OneDivZero for visibility

[2020-05-08 07:22] mebjas commented on #38
Looking deeper there are two concerns here
1. `getCameras()` is starting video access while intuitively it shouldn't - it should just get the device names. That's a fair request
2. On low end devices the `start()` seems to be failing when done quickly after `getCameras()`

Thanks @kenfookchoong  for raising both concerns and @OneDivZero for verifying the behaviours. I was able to reproduce both th

[2020-05-08 09:34] mebjas commented on #41
The problem with this one is without camera permissions one cannot get the label of the camera device as per API specification - https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/enumerateDevices

This is a very good this from privacy point of view.

[2020-05-08 09:45] mebjas commented on #38
@kenfookchoong @OneDivZero I have sent a PR and deployed the changes already to the demo page - https://blog.minhazav.dev/research/html5-qrcode

Could you verify both the scenarios? I have verified problem (1) to be fixed - @kenfookchoong its very similar to the approach you suggested, thanks for that.

Also for (2) I was not able to reproduce the issue after the fix, can you verify if this is hap

[2020-05-08 09:48] mebjas commented on #27
Not able to reproduce this anymore, closing for now.

[2020-05-08 09:48] #27 closed

[2020-05-08 10:08] #18 closed

[2020-05-08 10:18] mebjas commented on #34
Assigning it to you @OneDivZero - please close this issue once most of the list is ported.

[2020-05-09 06:59] #41 closed

[2020-05-09 10:21] #19 closed

[2020-05-09 15:33] OneDivZero commented on #38
I can test and confirm it tommorow, cause I'll do tommorow the final feature-integration in my app.

[2020-05-10 08:13] mebjas opened #46 "[Feature Request] Fully contained QR Code scanner"
Implement a fully container QR Code scanner which require minimal implementation from users

It should support
 - Scanning using webcam
    - Camera Switch
    - Permission request
 - File scanning

User should just setup the qrcode scanner with something like:

[code]

[2020-05-10 17:52] OneDivZero commented on #40
oh ok: is this a major issue? I have disabled orientation on all my personal devices, thus never tested this 😄

[2020-05-11 01:43] mebjas commented on #40
@OneDivZero Not sure if this is a major issue - no one has reported this so far, but I have seen this while developing.

[2020-05-11 01:44] mebjas commented on #46
@OneDivZero What do you think about this feature? - If the QR Code scanner optionally came with required buttons so a dev only need to integrate the library and call some api like:

[code]

[2020-05-11 02:29] keanwalker commented on #38
hi guys, this issue was fixed.

[2020-05-11 05:12] OneDivZero commented on #38
@mebjas  I can confirm the issue 'Video Error , error = Error getting userMedia, error = NotReadableError:Could not start video source' to be fixed on Android 7. Great!

[2020-05-11 05:53] kenfookchoong commented on #38
hi @mebjas

It is fixed!
nice one !

Thanks!
This is my first time raising an issue on github.
Glad it was fruitful!

Regards,
Ken

[2020-05-11 07:31] mebjas commented on #38
Thanks @kenfookchoong for raising the issue and suggesting the fix!
@OneDivZero thanks again for validating the issue and fix - this has been super helpful in getting the issue to be fixed.

@keanwalker I am hoping you are suggesting this is fixed, if yes thanks! if you can still repro this issue on latest library please reopen this issue with more information!

This kind of open source collaborat

[2020-05-11 07:31] #38 closed

[2020-05-15 14:56] cfcoderatcodefactory opened #47 "Get coordinates and size of QR Code"
I would like to be able to get the location (coordinates) and size (width and height) of the QR-code inside the viewport/camera viewfinder?
Preferrable continuously (i.e.: When user moves camera, QR Code will be «moved» inside the viewfinder, and I want to be able to catch the position/size at all times)

[2020-05-20 08:34] lintiansheng opened #48 "vue the import prompt is not defined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-20 08:45] lintiansheng opened #49 "How to use it in vue"
I want to use it in a vue project

[2020-05-22 16:32] mebjas commented on #47
Thanks for the feature request. I'll try to see if this can be done - however it depends on if the underlying qrcode decode logic supports it. I'll play around to see if this is a low hanging fruit.

[2020-05-22 16:33] mebjas commented on #49
I assume this is copy of https://github.com/mebjas/html5-qrcode/issues/48.

I have not worked with vue before but I assume there is an import error. I'll play around and see how to do it and get back.

[2020-05-22 16:34] mebjas commented on #49
Meanwhile it'd be nice if you could share screenshot or error message here - I am closing the other one as duplicate for now.

[2020-05-22 16:34] mebjas commented on #48
Closing as duplicate of https://github.com/mebjas/html5-qrcode/issues/49

[2020-05-22 16:34] #48 closed

[2020-05-23 13:10] mebjas commented on #35
@OneDivZero is this still happening?

[2020-05-23 13:11] mebjas commented on #34
I am closing this as an issue for now, to cleanup list of issues to solve. Please feel free to send PR with devices you have tested so far - your contributions are highly appreciated!!

[2020-05-23 13:11] #34 closed

[2020-06-01 05:11] antheroo opened #51 "Assigning 'qrcode' externally causes the library to fail decoding of QR codes."
**Describe the bug**
The library internally utilizes 3rd party 'qrcode' module for QR-code decoding tasks. However there is not sufficient abstraction such that assigning 'qrcode' to something else externally to the library will cause the library to fail and flag errors such as qrcode.decode() failures.

**To Reproduce**
Steps to reproduce the behavior:
1. Assign qrcode to something else after Htm

[2020-06-06 09:20] mebjas commented on #49
@lintiansheng  I have not used vue js before and I went through the basic tutorials to come up with working example

I have defined a component in this js file: https://github.com/mebjas/html5-qrcode-examples/blob/master/vuejs/vuejs/main.js
[code]

and the set the component in html like
[code]

The demo looks like this
![image](https://user-images.githubusercontent.com/3007365/83940939-ee119580-a8

[2020-06-06 09:20] mebjas commented on #49
I am sure this is a hacky way to do this, I'll read more about vue and try to implement a proper component

[2020-06-07 13:37] lintiansheng commented on #49
thank your very much,I used the CDN import to solve it。

[2020-06-07 15:37] #46 closed

[2020-06-07 16:10] mebjas opened #53 "Html5QrcodeScanner needs css fix"
The [demo](https://blog.minhazav.dev/research/html5-qrcode) page running `Html5QrcodeScanner` has more modern UI because of existing dependencies in the webpage.

OTOH, without any existing css the UI is much primitive.

This gives an advantage that the UI of the scanner can implicitly match the theme of the website it's attached to.

Considering pros and cons - make minimal fixes to the style or

[2020-06-07 16:14] mebjas commented on #49
I recently made an update to the library which makes integration much easier with complete user interface to the scanner. The new class included in the library is called `Html5QrcodeScanner`

**This makes the VueJs component much simpler as well.** - Just following lines*
[code]

You may have to update `onScanSuccess` and bind it directly with the some component callback - I am sure there are ways

[2020-06-07 16:14] mebjas commented on #49
Closing this issue!

[2020-06-07 16:14] #49 closed

[2020-06-08 20:06] syfgkjasdkn opened #54 "Webpack example"
👋

Thank you for this library!

I wonder if it'd possible to add a webpack example for it? I've tried using it with a dynamic `import`:

[code]
but the returned object is empty. I guess this is because there are no exports like `export {Html5Qrcode, Html5QrcodeScanner};` in https://github.com/mebjas/html5-qrcode/blob/master/html5-qrcode.js?

[2020-06-08 20:48] syfgkjasdkn opened #55 "Error locator degree does not match number of roots"
I'm getting `QR code parse error, error = Error locator degree does not match number of roots` error when parsing

![download](https://user-images.githubusercontent.com/43219386/84081821-5d88b000-a9e7-11ea-8c51-c7412d37de73.png)

as a file.

`zbar` however works fine:

[code]

[2020-06-09 16:58] Martin-beeep opened #56 "Error : QR code parse error, error = couldn't find enough finder patterns"
Dear Sir/Madam,

I test html5qrcode with below codes.  And, when I scanned QR code, below error message is responded in "errorMessage".  May I know how to fix it ?

errorMessage=QR code parse error, error = couldn't find enough finder patterns

	<!DOCTYPE html>
	<html>
	<head>

	<script src="html5-qrcode.min.js"></script>

	</head>

	<body onload="checkcameras()">

	<div id="reader"></div>
	<p id=

[2020-06-10 01:37] mebjas commented on #56
@Martin-beeep
This error message is not a one time error message - qrcode scanner is continuously scanning the input from camera 10 times per second. Everytime it can decode the message
[code]
Will be called and every time it cannot
[code]
Will be called.

Mostly this is due to composition that it's not able to find enough patterns - if you think you have good enough visible QR Code in the scene a

[2020-06-10 01:40] mebjas commented on #55
I see what you are saying - I was able to reproduce this. The problem is coming from downscaling the qrcode too much before scanning it.

As I increased the canvas size I was able to scan the same code - I'll send a fix for this

![image](https://user-images.githubusercontent.com/3007365/84217314-6fa94200-aafe-11ea-8548-8b72b3b880e8.png)

[2020-06-10 01:44] Martin-beeep commented on #56
Thanks, mebjas.

I tried to scan the attached QR code (qrcode-test.jpg).  I can scan it successfully by other QR code software.

![qrcode-test](https://user-images.githubusercontent.com/66691355/84217506-eba38a00-aafe-11ea-8290-068fba649eda.JPG)

[2020-06-10 10:50] aminurrashid opened #57 "Device label (human-readable name for the camera device) is empty string in android app webview"
I'm developing an android app, which has a webview in it. When loading the qr scanning demo page (https://blog.minhazav.dev/research/html5-qrcode.html) or a page that implemented the html5-qrcode library, device label (human-readable name for the camera device) is empty string.

sample:
id: "4c2c562185edeff69ceb28984aec24160b359fc3567422065818a41e4070f60c"
label: ""

[2020-06-10 11:15] aminurrashid opened #58 "Device id (camera id) gets changed in android app webview"
**Describe the bug**
I'm developing an android app, which has a webview in it. When loading the qr scanning demo page (https://blog.minhazav.dev/research/html5-qrcode.html) or a page that implemented the html5-qrcode library, device id (camera id) gets changed every time I reload the webpage, where as in mobile browser or desktop browser the device id remains same. In my app I like to save user's

[2020-06-11 08:38] eskan opened #59 "[Feature Request] Create with element instead of ID"
Hi,
we should have a way to create a reader with an HTMLElement instead of an ID. In case of using shadowRoot, application should not be able to find element with document.getElementById.
Cheers,

[2020-06-11 17:25] aminurrashid opened #60 "Cannot read a specific QR code"
**Describe the bug**
Cannot read a specific QR code, although it is readable in other qr code scanning library/app.

QR code:

<img width="83" alt="qr_config" src="https://user-images.githubusercontent.com/4655668/84418751-6c66a100-ac39-11ea-9f51-3314d662459a.png">

Data of the QR code: "action":"config"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://blog.minhazav.dev/research

[2020-06-13 06:10] mebjas commented on #60
You are right, the scanner is not able to scan this `QR Code` on any platform. This is potentially an issue in the underlying logic that decodes the qr-code of new types - https://github.com/LazarSoft/jsqrcode/issues/33

I'll try to see if I can fix this, thanks for reporting this.

[2020-06-13 06:14] mebjas commented on #59
Interesting, can you point me to some references on how libraries are used with shadowRoot?

[2020-06-13 06:16] mebjas commented on #56
Which environment are you trying this on? Mobile or PC or Mac also, could you share which browser?

[2020-06-13 06:19] mebjas commented on #35
Marking closed, @OneDivZero - Please feel free to reopen if this is still happening.

[2020-06-13 06:19] #35 closed

[2020-06-13 06:19] Martin-beeep commented on #56
Thanks.  I tried in iPhone 11, iOS 13.5.1 and Safari.

[2020-06-13 06:22] mebjas opened #61 "[Feature Request] Investigate support for bar code scanner"
- [ ] Fast, robust javascript based bardcode scanner
 - [ ] Architecture to scan qrcode, barcode together
 - [ ] Plug this into the app

[2020-06-13 06:23] mebjas commented on #60
![Screenshot 2020-06-13 at 2 06 46 PM](https://user-images.githubusercontent.com/3007365/84561732-74315d00-ad81-11ea-8f7b-fd2d1315ab1c.png)

This is another Qr code the scanner was not able to scan

[2020-06-13 06:51] mebjas commented on #60
Sent a push which is now able to scan these new codes - https://github.com/mebjas/html5-qrcode/commit/97a3c10373fb72b9eab29f6a9f77898b6fd5f2fc

[2020-06-13 06:53] mebjas commented on #60
Please feel free to close this issue once you have verified, assigning it to you.

Latest changes published to
 - npm - https://www.npmjs.com/package/html5-qrcode
 - https://github.com/mebjas/html5-qrcode/releases/tag/V1.1.2
 - https://blog.minhazav.dev/research/html5-qrcode

[2020-06-13 06:55] mebjas commented on #56
Thanks for the response. I pushed some changes just now and verified it to work on Safari on Ipad. Can you try once more - https://blog.minhazav.dev/research/html5-qrcode

[2020-06-13 06:57] mebjas commented on #55
Sent a push which is now able to scan these new codes - https://github.com/mebjas/html5-qrcode/commit/97a3c10373fb72b9eab29f6a9f77898b6fd5f2fc

Please feel free to close this issue once you have verified, assigning it to you.

Latest changes published to
 - npm - https://www.npmjs.com/package/html5-qrcode
 - https://github.com/mebjas/html5-qrcode/releases/tag/V1.1.2
 - https://blog.minhazav.dev/re

[2020-06-13 07:17] #51 closed

[2020-06-13 07:18] mebjas commented on #51
I have hidden qrcode behind a function, so that it cannot be overridden globally. This'd be published in `v1.1.3`

[2020-06-13 07:23] Martin-beeep commented on #56
Thanks a lot.  It works.

[2020-06-13 07:25] mebjas commented on #56
Great!

Closing this bug, please update the library to latest from npm or release in Github - the latest version right now is `v1.1.3`

[2020-06-13 07:25] #56 closed

[2020-06-13 17:45] #55 closed

[2020-06-13 17:45] syfgkjasdkn commented on #55
@mebjas thank you!

[2020-06-14 06:27] aminurrashid commented on #60
not sure if something wrong with the latest build, but I'm getting some weird data for the QR code I've given. I'm getting some results like "actiin":"config", "actimn":"config" and sometimes a weird long number, where the result should be "action":"config".
I've scanned using https://blog.minhazav.dev/research/html5-qrcode. Screenshot of scan result is attached here.

![Screenshot_20200614-121738

[2020-06-16 03:50] aminurrashid opened #63 "Same QR code scan gives different results"
**Describe the bug**
When scanning, same QR code different results. Though it's random but very frequent.

Sample QR code:
![sample qr](https://user-images.githubusercontent.com/4655668/84728511-3ca9f700-afb3-11ea-9ac3-e7569aad1488.png)

Scan results:
![Screenshot_20200616-092601](https://user-images.githubusercontent.com/4655668/84728765-d5407700-afb3-11ea-9b45-755c2501cc07.png)

Expected result:

[2020-06-17 10:45] dennmtr opened #65 "facingMode constraint is essential for this library to work"
Very nice and clean module but... is useless without facingMode constraint, device label can be in any language making the camera choice impossible
Example:

`{id: "AFB981283186FBA62F2947AA63940A4482BF80C3", label: "Πίσω κάμερα"}`

[2020-06-18 13:40] mebjas commented on #65
@dennmtr That makes sense, the reason that it's not so is I don't know how to get exactly the front and back camera in single query, or how to determine that from the list that we retrieve from APIs. I'll look further into this.

[2020-06-20 08:29] dennmtr commented on #65
Thanks mebjas, great work

[2020-06-20 13:56] PeterA1 opened #66 "getLazarSoftScanner is not defined"
When using via <script> tag get error:-

getLazarSoftScanner is not defined

 - OSX
 - Chrome 83

[2020-06-20 14:32] #66 closed

[2020-06-21 09:08] mebjas commented on #60
I am able to reproduce this issue on the small QR code while it seems to be much more stable or relatively larger one. I am not sure what the library can help here as - it's dependent on processing what the camera sends and then decoding it.

I'd recommend having a logic on your side to try to decode the output you get to see if it matches the expected outcome. Maybe something like
[code]

[2020-06-21 12:03] mebjas commented on #63
@aminurrashid Thanks for posting this, this is similar to https://github.com/mebjas/html5-qrcode/issues/60 and for starters I'd recommend if you could try the same solution here.

Meanwhile I'd try to see if the result could be more deterministic. This seems off behavior by the underlying `qrcode` scanning library.

[2020-06-24 07:58] cfcoderatcodefactory opened #67 "Violation setTimeout in html5qrcode.js"
When scanning with your library I get continuous console messages saying:
[Violation] 'setTimeout' handler took 73ms
This error is reported to occur on line 211 og html5qrcode.js.
NOTE: The scanning appears to work, though.

**Desktop (please complete the following information):**
 - OS: macOS latest
 - Browser: Chrome
 - Version: Latest

[2020-06-24 12:18] cfcoderatcodefactory opened #68 "Error getting userMedia, error = NotReadableError: Could not start video source"
I have created an application based on your qr code reader. It works very fine on iOS.

On Android I get the following error when I try to start scanning:

Error getting userMedia, error = NotReadableError: Could not start video source

[2020-06-24 15:06] eskan commented on #59
Hi @mebjas,
This is a good introduction to shadowDom :
https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM
Most of the time people use document.getElementById to find an Element, but when you use shadowDom to create some element you can choose to attach them to a shadowDom : a Dom in the Dom, so it's not a part of document, it cannot be found with  document.getElementById.

[2020-06-24 17:24] cfcoderatcodefactory commented on #68
Update: I have tried to use your demo (https://blog.minhazav.dev/research/html5-qrcode.html).
On iOS it works fine when I select the «back» camera (environment).
On Android (Chrome) I get the same error as mentioned above when I select the back camera, while selecting the front («selfie») camera the strem starts.
A customer of mine, testing the app I am building, gets the same «NotReadableError» e

[2020-06-27 05:16] mebjas commented on #68
If I understand correctly, the demo code is working on iOS (Safari I assume). While on Android on moto g8, it's not working for front camera on Chrome.

This is unusual, I tested the demo code and it seems to work seemlessly on Pixel3, I'll try to see if I can reproduce this issue on other android devices I have with me.

Meanwhile, this could very well be a Chrome bug, could you verify if this is

[2020-06-27 05:23] mebjas commented on #67
Per https://stackoverflow.com/a/44824402/2614250,

I don't think this is more of an error but a warning. I expect it to sometime take this long as this part of code, reads a section of camera feed and try to decode QR code from it. It's expected to take a few milli seconds but fast enough to not have any user visible issues or jankiness. Thanks for pointing this out, this makes me wonder if there

[2020-06-27 05:36] mebjas commented on #65
I can possibly exposure arguments to `getCameras` so you can request camera of choice and build your user interface on top of it.

You can call it like
[code]

or
[code]

Similar to video part of web api syntax - https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

@dennmtr WDYT?

[2020-06-27 05:41] mebjas commented on #59
I see, thanks for sharing this. I'll start working on this to see if I can add the support. But to be honest, the library internally uses element id in many places and this'd involve some rework.

[2020-06-27 06:34] mebjas commented on #54
Does this work - https://webpack.js.org/configuration/externals/

[2020-06-27 08:27] eskan commented on #59
as there is some workaround .. we can use <slot> to "move" a root element into a CustomElement, the library is not unusable. So yes i suppose there's some rework :S, i'll hope i can help with this.

[2020-06-28 13:16] rohanashik opened #72 "Compatibility - [html5QrcodeScanner cant able to stop programatically]"
html5QrcodeScanner cant able to stop programatically, I want to stop the camera after a successful scan code.
In Html5Qrcode there is stop action. But I want in html5QrcodeScanner

[2020-06-30 01:07] mebjas commented on #72
This is a good requirement, I didn't realize the end to end solution would also need APIs, I'll add this.

Thanks for posting.

[2020-07-03 14:08] cfcoderatcodefactory commented on #67
OK. Thanks!

[2020-07-03 14:08] #67 closed

[2020-07-03 14:09] cfcoderatcodefactory commented on #68
Hi. I had – at some point – set framerate to 60, and Android (or at least the MotoG8) didn’t like that!

[2020-07-03 14:09] #68 closed

[2020-07-03 14:18] cfcoderatcodefactory opened #73 "video stream is zoomed on Android"
Hi.

When I start the video stream on iOS all is fine. When I do the same on Android (MotoG8) it appears that the camera is set to a pretty high zoom level.

Don’t understand why, and haven’t found anywhere in your code where zoom is set.

My (and your!) code is [here,](https://github.com/cfcoderatcodefactory/gangr) and the «interesting» files (created by me) are:
customFuncs.js
gangrCustomFuncs.j

[2020-07-04 17:02] mebjas commented on #73
Can you share screenshot of zoom with this library and standard zoom with your camera app on same scene?

As a library it doesn't touch the zoom level so it's likely how the browser is handling the zoom in Android. Can you check this website to see if the zoom is supported in MotoG8 - https://googlechrome.github.io/samples/image-capture/update-camera-zoom.html

[2020-07-04 17:05] mebjas opened #74 "After scan failure in image scan the error message continues to stay on"
**To Reproduce**
1. use image scan
2. use a non qr code
3. switch to camera scan

error message continues to stay while it shouldn't

![image](https://user-images.githubusercontent.com/3007365/86517443-9a678b80-be5b-11ea-9053-4cb60fb8db52.png)

[2020-07-04 19:19] cfcoderatcodefactory commented on #73
Hi - first, screenshot of zoom on Moto G8 with your library:
![Screenshot2](https://user-images.githubusercontent.com/6523291/86519484-7300c680-be3b-11ea-8b4a-cebaae8a5210.png)

Next: Picture taken with the Moto G8 camera, zoom x1:
![IMG_20200704_211320422](https://user-images.githubusercontent.com/6523291/86519494-9592df80-be3b-11ea-8e56-fb20c101c4e6.jpg)

They look similar when you preview them

[2020-07-04 20:02] cfcoderatcodefactory commented on #73
PS: BTW, is there any way to actually set the zoom level?

[2020-07-05 12:03] mebjas commented on #73
Not so far, I will explore this more and see if it's possible to be exposed by the library -  the control for zoom level.

[2020-07-05 12:30] #74 closed

[2020-07-05 12:43] mebjas commented on #72
@rohanashik Sorry I missed this `Html5QrcodeScanner` already supports `clear()` method which takes care of closing the scanning and clearing up the user interface. Can you use that for your use-case?

I have updated it to return `Promise` so that its more reliable to caller.

You can stop like this:

[code]

[2020-07-05 13:56] mebjas commented on #47
I have figured out a way to do this, can you share your use case? I'll design the APIs accordingly.

[2020-07-06 11:38] cfcoderatcodefactory commented on #47
Great!
Use case:
I have a set of road signs with a lot of info on them. Somewhere on the sign there will be a GR code. When this QR code is recognized I want to add an overlay in the app that has the exact same size and positioning as the sign has in the view-finder.
I know the physical size of each sign, the size an position of the QR code on each sign.
So if your library is able to find the size

[2020-07-06 11:40] cfcoderatcodefactory commented on #73
If you want to check the difference in the zoom level in the app vs the actual camera app on your phone you can test my app here:
https://gangr.no

[2020-07-09 09:48] yerayb commented on #72
Hi. How can I stop the qr scanner? Currently, my code is like this.
` // LECTOR QR
                                            var lastResult, countResults = 0;
                                            function onScanSuccess(qrCodeMessage) {
                                                if (qrCodeMessage !== lastResult) {
                                                    ++countResults;

[2020-07-09 09:48] yerayb commented on #72
Hi. How can I stop the qr scanner? Currently, my code is like this.
[code]
Once the addItem method has been run, I want it to stop scanning. I have tried the clear method in several ways but without success. Thank you.

[2020-07-09 12:10] mebjas commented on #72
@yerayb small modification
[code]

Can you try this?

[2020-07-09 13:25] yerayb commented on #72
I try this. The scanner continues to run but does not stop.

[2020-07-09 13:36] max2ti opened #77 "Support devices that flip the image horizontally"
I have some devices that flip the image of the front camera horizontally, it's not configurable and it makes it impossible to read qr codes (they remain valid if rotated but can't be flipped).

I would like to be able to pass a flag in the constructor of html5-qrcode (or in the config param of the `start` function) to instruct it to flip the image before processing.
The flip itself is as easy as a

[2020-07-10 08:20] Laure444 opened #79 "Problem with electron"
Hello,
I'm making an app with electron.
I would like to use QR code to allow the user to go to the next step.
I’m currently on my PC but the application is supposed to be a .exe on a Windows tablet.

Here is a simplified version of my code :
[code]
The app is launched by main.js :
[code]

When I Launch this app (If you install electron and [the program of mebjas](https://blog.minhazav.dev/research

[2020-07-10 09:17] Laure444 commented on #79
Hello,
I'm making an app with electron.
I would like to use QR code to allow the user to go to the next step.
I’m currently on my PC but the application is supposed to be a .exe on a Windows tablet.

Here is a simplified version of my code :
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=yes">
  <title>MyApp</title>

[2020-07-12 06:16] mebjas commented on #79
@Laure444 That's interesting - I tested your code and it seems to work for me. One thing I'd suggest is trying out the latest code - [v1.1.7](https://github.com/mebjas/html5-qrcode/releases/tag/V1.1.7) as it looks you are using older `v1.1.0`.

![image](https://user-images.githubusercontent.com/3007365/87240223-2aa06480-c44a-11ea-9e24-badbdc5f1c0d.png)

[2020-07-14 14:09] SebScoFr opened #82 "[Feature Request] Fullscreen support"
THIS IS NOT A BUG

I'm just trying to get some feedback on how best to render the video feed in full screen on a smartphone.

I'm triggering the scanner programmatically like this (trimmed for the sake of this example):
[code]
[code]

And this is what I see on my phone:

![qrcode](https://user-images.githubusercontent.com/22073633/87435633-e943bc80-c5e3-11ea-93a4-0c7791999ea4.jpg)

The phone camer

[2020-07-15 07:29] Laure444 commented on #79
Okay, thanks for your answer
I downloaded the file html5-qrcode-1.1..7.zip and I extracted it in my project
I changed my html code for :
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=yes">
  <title>MyApp</title>
</head>

<body>
  <div style="width: 500px" id="reader"></div>
  <script src="../html5-qrcode-1.1.7/minified/html5-qrcode.min.js"></scrip

[2020-07-18 07:53] doTeam commented on #40
@mebjas this is a major issue for production cases..

[2020-07-18 10:12] mebjas commented on #77
Thanks for the PR @max2ti - I was working on adding proper documentation and support where I realised there is still a problem that it would no longer be WYSIWYG as the video stream is not flipped only the hidden canvas that is scanned is flipped.

[2020-07-18 10:27] mebjas commented on #79
This is because the non minified version is based on ECMA and not all JS framework supports that, I assume electron doesn't. You should continue to use minified version.

On further digging it looks like you might want to look into `systemPreferences.getMediaAccessStatus(mediaType)` - https://www.electronjs.org/docs/api/system-preferences#systempreferencesgetmediaaccessstatusmediatype-windows-maco

[2020-07-19 06:04] mebjas opened #85 "[Feature Request] Add support for remembering last used camera"
Add a configurable option to remember last used camera and use that in `Html5QrcodeScanner`

[2020-07-19 06:05] mebjas commented on #72
Hi @yerayb  please try the latest version `v1.1.8` I made some bug fixes and have validated it to work - example: https://blog.minhazav.dev/research/scan

[2020-07-19 06:11] mebjas commented on #82
Thanks for raising this question. I think this is possible - the API supports a constraint for aspect ratio (https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/aspectRatio). In most of devices the default camera sensor aspect ratio is `4:3`. That is what you are seeing in the screenshot you have attached. But most of the camera drivers (also known as Camera HAL) also supports c

[2020-07-19 06:36] mebjas commented on #40
Thanks for the feedback @doTeam - I'll priotize this.

[2020-07-19 07:02] mebjas commented on #82
Screenshot based on experimental code on Pixel 3, Google Chrome, Android 10

| without constraints | With 16:9 constraints |
| ----- | ----- |
|![image](https://user-images.githubusercontent.com/3007365/87868647-b24a1e00-c9ca-11ea-9cb4-ed618c3c021b.png) |![image](https://user-images.githubusercontent.com/3007365/87869259-c6911980-c9d0-11ea-859b-b10c19033e24.png) |

[2020-07-19 07:03] mebjas commented on #82
Once the library supports this, the consumer (you) can handle the full screen logic. What do you think?

[2020-07-19 07:33] mebjas commented on #82
@SebScoFr I have raise a pull request for this.

Can you try this out if you can meet your requirements with this - [link to html5-qrcode.min.js](https://github.com/mebjas/html5-qrcode/blob/cf5e485713969f3391217d4f3c1d5d52f906d7b8/minified/html5-qrcode.min.js).

Way to use this would be
[code]

[2020-07-19 07:40] mebjas commented on #73
@cfcoderatcodefactory I was able to reproduce this on https://gangr.no

I was working on something similar that might help (not sure) - https://github.com/mebjas/html5-qrcode/issues/82. Here I have added a support for aspect ratio as input and I was wondering if this would be fixed if you provide the screen's aspect ratio as input. Would you be able to try this out with [html5-qrcode.min.js](https

[2020-07-19 07:43] mebjas commented on #73
That said please note that, the sensor's aspect ratio is usually `4:3`. But most of the cameras support aspect ratio like `16:9` which is mostly closer to the screen aspect ratio. In your case you need the viewfinder to be full screen and hence an aspect ratio closer to `16:9`.

To honour this the camera has to crop some region and the output won't be same as what you get from your default camera

[2020-07-19 10:08] SebScoFr commented on #82
Many thanks @mebjas for adding this feature.

It doesn't work for me when I pass the **aspectRatio** parameter on the **start** method like so. Though it works perfectly when I hardcode 1.7777778 directly in the js library file. (AKA replacing 1.33334 by 1.7777778)

[2020-07-19 11:31] mebjas commented on #82
Did you try it with this library code - [html5-qrcode.min.js](https://github.com/mebjas/html5-qrcode/blob/cf5e485713969f3391217d4f3c1d5d52f906d7b8/minified/html5-qrcode.min.js) please note that this is not yet merged to master

[2020-07-19 19:35] SebScoFr commented on #82
Yes I just tried again with this code. But like I said it works perfectly fine if I hardcode the value in the library. It's as if the aspectRatio param is not getting taken into account somehow.

[2020-07-19 21:45] yerayb commented on #72
Thanks!!! Now the clear method works correctly. To other cases,  is there any way to stop the scanner without it disappearing?  Thanks for everything!!

[2020-07-20 03:38] #72 closed

[2020-07-20 08:38] max2ti commented on #77
You are right, it would not be WYSIWYG, but is it really important? For a user, centering the QRCode at a flipped (mirror-like) front camera is easier than doing the same at a "normal" camera, maybe separating what the user sees and what the library processes  would be better.

I'm not sure, anyway, a fix to keep the WYSIWYG might be something like:
[code]
I'm not sure if this is the best way

[2020-07-20 12:14] cfcoderatcodefactory commented on #73
Thanks, I’ll try to get around to testing this ASAP

[2020-07-20 12:28] cfcoderatcodefactory opened #87 "Can’t stop camera – mediaStream - track(s)"
Please help!

I have seen on several of your demos of your library that you have a Stop Scanning button that actually stops the camera – but I have not been able to navigate your code sufficiently to find out what is wrong with **_my_** Stop Scanning button.

Here’s what I do:

When I start the camera in my app I add a little close icon in the top right corner. I attach 'stopScanning' as the click

[2020-07-20 13:03] Laure444 commented on #79
Thanks
I will look into that, I use electron 1.4.13 maybe it's a bit too old ...

[2020-07-20 13:15] fgirolami29 opened #88 "HOW STOP AFTER SCANNED ITEM"
hi how can i stop the scan after the first scan?

[2020-07-20 13:30] mebjas commented on #88
Have a look at this https://github.com/mebjas/html5-qrcode/issues/72

A bug was recently fixed in v1.1.8 - please use that with the steps in linked issue.

[2020-07-20 13:41] fgirolami29 commented on #72
thanks a lot ,

solution 100% work

docReady(function () {
        var resultContainer = document.getElementById('qr-reader-results');
        var lastResult, countResults = 0;
        function onScanSuccess(qrCodeMessage) {

            if (qrCodeMessage !== lastResult) {
                ++countResults;
                lastResult = qrCodeMessage;
                resultContainer.innerHTML

[2020-07-20 19:02] proautodinc opened #89 "[Feature Request] Barcode Scan"
Just installed your library and it's working great, It would be great to also have industrial Barcode scanning, in my case for vehicles VIN numbers.

Thank you.

[2020-07-21 15:17] cfcoderatcodefactory commented on #87
Update: Please ignore this, found and solved problem.

[2020-07-21 15:17] #87 closed

[2020-07-22 17:59] syfgkjasdkn commented on #54
Hi @mebjas! Sorry, I'm no longer using your library.

[2020-07-22 17:59] #54 closed

[2020-07-22 21:20] queler opened #90 "remote assets"
Not necessarily a bug per se, but it seems like the point of this to be independent from outside resources.  The two assets gifs are hardcoded to your github repo.

[2020-07-26 13:40] JMLucas96 opened #93 "iPhone Chrome and Safari browser error "Unable to query supported devices.""
**Describe the bug**
I Installed module by npm on a fresh laravel project and it works fine on webcom for pc but when I try to do this on my personal mobile by ngrok I see the following error when requesting camera permissions:
`unable to query supported devices.`

**Expected behavior**
Requesting camera permission and open camera device, it's working well on windows pc.

**Screenshots**
![image](

[2020-07-26 17:02] JMLucas96 commented on #93
Solved changing url to `https`, project is in localhost but need secure protocol when using ngrok.

[2020-07-26 17:02] #93 closed

[2020-07-29 09:36] doTeam opened #94 "Inverted QR codes"
Would it be possible to add functionality to scan inverted QR codes as well? Inverted meaning dark background and white foreground; currently it is not supported.

I thought about adding such functionality thru inverting canvas, but I'd first like your input if there are any better solutions that could be implemented library-wide, seems like quite a missing functionality.

[2020-07-30 07:40] Laure444 commented on #79
I recived the tablet and it still say the same messsage

[2020-07-30 08:49] Laure444 commented on #79
Hello,
I have find [this module](https://ourcodeworld.com/articles/read/134/how-to-use-the-camera-with-electron-framework-create-a-snapshot-and-save-the-image-on-the-system#:~:text=%20How%20to%20use%20the%20camera%20with%20Electron,handle%2C%20but%20the%20plugin%20will%20return...%20More%20) That allow me to use camera.
It is working And I was wondering if there would be a way to replace the camer

[2020-08-02 09:28] mebjas commented on #79
@Laure444 It'd wouldn't be straight forward to integrate `WebcamJs` into this library. However, if the `WebcamJs` is able to work on `Windows + Electron` then something must be missing in this library code that is preventing it from running. I'll do further investigations.

[2020-08-02 09:51] mebjas commented on #79
Can you run following code and see if you get something in the console
[code]

If this gives error can you try with this as well
[code]

I do not have a windows system with me to try this out.

[2020-08-02 09:52] mebjas commented on #94
This is interesting - are there use-cases like that where inverted QR codes are used?

If there is a major use case and you can provide me with few samples - it should be possible to support this. One quick workaround to try is to invert the canvas as you shared.

[2020-08-02 10:46] #82 closed

[2020-08-02 10:47] mebjas commented on #82
The PR had some hardcoded values - fixed those and merged to code - now the library supports aspect ratio as an argument.

Thanks for raising this feature request with concrete use-case!!

[2020-08-02 10:49] mebjas commented on #89
Thanks for the feature request, I already have a duplicate issue for this - https://github.com/mebjas/html5-qrcode/issues/61

Please subscribe to that issue for updates. I'll try to work on it and add support for bar code as well.

[2020-08-02 10:49] #89 closed

[2020-08-02 10:50] #88 closed

[2020-08-02 10:50] mebjas commented on #88
Please reopen if this issue is still observed in latest code.

[2020-08-02 10:59] mebjas commented on #77
Hey @max2ti

On further thinking I wonder how the consumers can generalise the use of this argument. I am assuming any solution build on top of this library cannot assume the input to be mirrored or otherwise.

A more general solution would be if the underlying scanner can handle a mirrored input. WDYT about that?

[2020-08-02 10:59] mebjas commented on #73
Any updates on this @cfcoderatcodefactory

[2020-08-02 11:00] mebjas commented on #65
@dennmtr Any updates?

[2020-08-02 11:01] mebjas commented on #60
Closing this issue as primary issue has been solved and secondary issue has been reported as https://github.com/mebjas/html5-qrcode/issues/63 - let's follow up on the other issue in #63

[2020-08-02 11:01] #60 closed

[2020-08-02 13:04] cfcoderatcodefactory commented on #73
Yes. Sorry, forgot all about it after I solved it by omitting all constraints, such as width, height, fps.

[2020-08-03 01:17] mebjas commented on #73
I see, so this is no longer a problem?

[2020-08-03 08:17] max2ti commented on #77
@mebjas Hi, I've taken a look at how commercial libraries handle this, and yes they all handle mirrored images transparently, no manual settings, they just work.

The code is obfuscated so I don't know how they do it, the most naive way would be to process each frame twice (mirroring the second one), but that would lower overall performances. I'm sorry but I'm not really experienced in image manip

[2020-08-03 08:33] Laure444 commented on #79
Thanks :)
I tested your first code by puting it in my html :
`<body>
   <div style="width: 500px" `id="reader"></div>
   <script src="./html5-qrcode.min.js"></script>
   <script>
    function onScanSuccess(qrCodeMessage) {
      // handle on success condition with the decoded message
    }
    var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanne

[2020-08-03 08:57] cfcoderatcodefactory commented on #73
Correct. Case closed.

[2020-08-03 08:57] #73 closed

[2020-08-03 13:12] dennmtr commented on #65
@mebjas Sooner or later... I am not dealing with this project at the moment but that seems to work!

[2020-08-05 15:10] max2ti opened #97 "Allow setting video constraints"
**Is your feature request related to a problem? Please describe.**
To improve performances I would like to change the resolution of the video stream.

**Describe the solution you'd like**
To do it I need to be able to set the constraints for the `getUserMedia` call. A good place to do it might be inside the `configuration` parameter of the `start` call.

Then it could be used like:
[code]

By sett

[2020-08-06 07:26] Laure444 commented on #79
Hello,
I was wondering if there is a way to make the "chose a file" the default selected option ?
With this I would have to open the camera application to take a picture and then put it here. It's not the best option but I think it would work .
Thanks

[2020-08-06 09:16] fgirolami29 commented on #88
checking.... now ... can u interested about beep after scan?? other issue is the shadow box that it use px unit for render scan area, better use %

[2020-08-06 09:45] fgirolami29 commented on #88
checked no error

[2020-08-06 09:47] max2ti commented on #63
I noticed the same problem, I generated a qr containing `qwertyuiopasdfghjklzxcvbnm,.-è+ò`, printed it and took a bunch of pictures of it (different lights, distance, focus...).

First thing I noticed, special characters like "è" or "ò" are not decoded well: `qwertyuiopasdfghjklzxcvbnm,.-Ã¨+Ã²` but that can be fixed by applying a proper utf8 encoding (see this old post http://ecmanaut.blogspot.com

[2020-08-08 08:44] mebjas commented on #79
@Laure444 - That options works only for Android and IOS isn't it? Does that work for windows as well?

[2020-08-09 06:04] mebjas commented on #77
That's ok @max2ti - thanks for the feedback, I'll take care of this.

[2020-08-09 07:16] mebjas commented on #63
Yes you are right, I have seen this issue in a flaky fashion and this is a reliability issue which can be problematic for some applications.

Thanks for this, I'll take a look.

I have started to maintain a new this myself now at [third_party/qrcode.js](https://github.com/mebjas/html5-qrcode/blob/master/third_party/qrcode.js). However the library is very big and I need to build more expertise on t

[2020-08-09 07:31] #77 closed

[2020-08-09 08:20] mebjas commented on #97
Are there specific constraints that you'd like to control?

Since the library abstracts the underlying APIs, I feel flat set of non conflicting & documented configuration at the library level would be more helpful to users, rather than having to lookup HTML Api documentations. While I understand this brings more power to the consumers.

[2020-08-10 07:12] Laure444 commented on #79
The "choose file" option works perfectly.
I tried on the tablet, when I use the "chose file" version after taking a picture with the camera application it works

[2020-08-11 07:22] Laure444 commented on #79
I did this, it allow the user to automaticaly use the "chose file" option, it's not what I really wanted but it works :
[code]
I still hope it could be possible to use directly the camera option

[2020-08-12 23:21] MohsinQK opened #100 "Scanning is not Accurate"
Scanning the same bar code multiple times gives different values.

Tested in Android 10 Chrome
![WhatsApp Image 2020-08-13 at 4 14 47 AM (1)](https://user-images.githubusercontent.com/1622975/90077780-729dfa00-dd1c-11ea-8f74-d88772e59815.jpeg)

[2020-08-16 10:59] pradeepngupta opened #101 "Few QR Code is not able to read by this library"
I was dealing with QR Code generation on Arduino with Richard Moore QRCode library and printing on TFT LCD (Adafruit ST7735 ) device.
I used this library in my webpage and when reading that QR code, But this library is not able to read the QR code.
Then I used the library https://github.com/schmich/instascan, and to my good luck this is able to read the QR code.

I have taken a look deeply in both

[2020-08-17 08:20] max2ti commented on #97
Let's see, these are the constraints chrome desktop supports, I'll mark those that I think might be useful:

[code]

The reason why I think exposing (optionally) the HTML api is good is that for each of these you can refine the constraints by using the `min`, `max`, `ideal`, `exact` keywords (https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia). 90+% of users will likely jus

[2020-08-17 15:19] max2ti commented on #101
Can you share a photo of a QR you can't read?

[2020-08-17 15:20] max2ti commented on #100
see https://github.com/mebjas/html5-qrcode/issues/63

[2020-08-17 15:39] nivthetool commented on #65
strongly agree. any progress.

[2020-08-18 19:52] pradeepngupta commented on #101
I don't have photo. I am directly doing the QR Scan of the QR printed on the device using Arduino QR code library by Richard Moore.
I tried taking the photo from my camera, but not sure whether this image can be readable by any QR scanner as i feel it is coming blurred.
Please check and let me know.
![IMG_20200729_093114__01](https://user-images.githubusercontent.com/6321439/90558906-70bfb500-e1ba

[2020-08-19 07:48] max2ti commented on #101
I can't read it with any library but it's probably because of the quality of the photo. Anyway I think your problem is that your QR is bright on a dark background (standard is black on white) and this library doesn't support it (yet?) according to this other issue https://github.com/mebjas/html5-qrcode/issues/94

I don't know how hard it would be for you to do it but if you can try reversing the c

[2020-08-19 14:31] jesusrodriguezm commented on #63
Same problem here, in my case using the library in a web app. I have a QR Code that contains an URL, and sometimes it changes a letter (breaking the URL).

[2020-08-19 14:42] max2ti commented on #63
A way to approach this problem could be experimenting with the 4 error correction levels (https://www.qrcode.com/en/about/error_correction.html). It would be interesting to generate a QR for the same data with each error correction level (so 4 QR) and then try to see if this library failures rate is influenced by the level or not. If it isn't it might mean that the underlying algorithm doesn't imp

[2020-08-20 10:54] RPJOF opened #102 "Can't charge the camera"
Hello,I followed the information to create the QRCode scanner on this page: https://blog.minhazav.dev/research/html5-qrcode.html#scan-using-file but nothing works for me! The div reader doesn't show up and it doesn't ask me for permission for my cameras 😞 Here's my code: (when I reload the page, my camera activates and turns off just after)
(Sorry for my bad english)

**My Console :**
qrcor.php:17

[2020-08-25 11:54] #102 closed

[2020-08-25 13:41] RPJOF opened #103 "html5QrcodeScanner.clear() don't work"
**Describe the bug**
The html5QrcodeScanner.clear function(); doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Create function 'stopScan' with html5QrcodeScanner.clear();
2. Execute function with button to test
3. See Error

(```
Uncaught ReferenceError: html5QrcodeScanner is not defined
    at stopScan (reader.php:27)
[code]

[2020-08-25 13:56] #103 closed

[2020-08-26 15:51] mebjas commented on #101
@pradeepngupta
Thanks for raising the request - this gives a valid use case for issue #94 as @max2ti pointed out.

Would it be possible to share a clearer picture so I can prototype inversion logic - if it works fine, happy to add it as a supported configuration.

[2020-08-26 15:51] mebjas commented on #100
Closing this issue here - will follow up on this problem at #63

[2020-08-26 15:51] #100 closed

[2020-08-26 16:07] mebjas commented on #97
Thanks for the detailed explanation.

_The general problem with exposing "more" for the 10% use-case is as you mentioned it can confuse the 90% users and lead to issues manifesting in different forms probably due to incorrect usage. This is in general issues with adding more knobs to tune and for some reason the library is already heading in that direction._

And the whole purpose I started writin

[2020-08-27 07:45] max2ti commented on #97
Looks good to me!

[2020-08-28 20:37] pradeepngupta commented on #101
Thanks @mebjas
@max2ti Sorry for the delay, I changed the inverted background. attached is the latest image.
Even then I can't able to read the QR code with this library from my mobile phone (QR code displaying on TFT LCD).

The only library which can able to read this QR code is https://github.com/schmich/instascan
During these 10 days, I was able to merge the current library (for look n feel) wi

[2020-08-28 20:38] pradeepngupta commented on #101
![IMG-20200821-WA0073 (2)](https://user-images.githubusercontent.com/6321439/91613068-6f517200-e99c-11ea-9859-d8a6e5cd8094.jpg)

Please see the latest image of the QR code i am trying to read.

[2020-08-28 20:44] pradeepngupta commented on #65
This feature is strongly needed. Any dates you are planning for V1.3.0?

[2020-08-29 08:00] mebjas commented on #101
@pradeepngupta - Thanks for inverting the image and sharing with us. I tried the scanner running on Pixel 3a (Google Chrome) and Iphone 7 (Safar) and both of them were able to scan this:

| Pixel 3a, Google Chrome | Iphone 7, Safari |
| ------- | ------- |
|<img src="https://user-images.githubusercontent.com/3007365/91631789-ea537080-ea0e-11ea-9f33-0f1a9e8a863f.png" width="250">| <img src="https:/

[2020-08-29 08:01] mebjas commented on #101
Can you share some more inverted QR codes like you had before (blue background and white code) so I can test out the inversion logic.

[2020-08-29 08:07] mebjas commented on #65
@pradeepngupta @nivthetool @dennmtr @max2ti @peterA1

I had a few questions to understand this better. The original feature request was raised to add the support for `Html5Qrcode` class. And as I suggested in the comment adding a config in `getCameras` makes sense.

However, I don't have concrete thoughts on adding this to `Html5QrcodeScanner`.  My questions are

 - Would it meet your requirements

[2020-08-29 09:32] mebjas commented on #65
**Update**

On further digging I realised that the `navigator.mediaDevices.enumerateDevices()` doesn't support `constraints`. So the support shall be added to `Html5Qrcode#start()` method. Earlier it could be called only with exact cameraId

Now you can call it in following ways
[code]

[2020-08-30 08:39] pradeepngupta commented on #65
@mebjas That's very quick.
Thanks for your commit and plan.
Let me take the latest library js and test it out as per your explanation.

[2020-08-30 09:08] pradeepngupta commented on #101
@mebjas Thanks for the update here. I am not be having more inverted qr code as i have already migrated to use standard QR (White background with black QR). And this is more standard and good look as well.

Its good that you are able to scan with Google Pixel3 and Iphone 7. What I have tried till now are various lower models like iPhone 6 / One Plus / Real Me 1/ Moto G / Moto X / IPAD Air 2. But a

[2020-08-30 10:09] mebjas commented on #65
Updated the support in `Html5Qrcode#start()`

 - Released as `v1.2.1`: https://github.com/mebjas/html5-qrcode/releases/tag/V1.2.1
 - npm:  https://www.npmjs.com/package/html5-qrcode

[2020-09-02 14:48] max2ti commented on #65
Thanks for your work @mebjas
I have a question about the new update. Is it required to call `Html5Qrcode#getCameras()` (even if I don't use the output) before `Html5Qrcode#start()`? I've done a quick test and without `Html5Qrcode#getCameras()` the video does not appear (but the camera led turns on), no errors in the console.

[2020-09-04 07:56] mwambajoshua opened #106 "[Feature Request] Auto-redirect"
Hey, pardon me for the the dumb question. I there a way to make the scanner automatically redirect once it has decoded the qr url?

[2020-09-04 14:14] mebjas commented on #106
Interesting feature request, I would like to prototype this and get back to you.

Thanks for raising this.

[2020-09-04 14:15] mebjas commented on #106
for now, you can do this

[code]

[2020-09-04 14:30] mebjas commented on #65
@max2ti -

Ideally **no**, `getCameras()` is only required to get exact camera ids - so you can use it if you want users to provide users an option to change camera. Otherwise you can use the

[code]

Approach to prefer front camera for example, else choose any camera.

If this is happening, it's a bug - let me try to repro and fix if this is happening, just FMI - which browser / OS?

[2020-09-04 14:33] max2ti commented on #65
Windows 10 on chrome

[2020-09-06 07:27] mebjas commented on #65
@max2ti I was not able to reproduce this issue - I have published an example at https://blog.minhazav.dev/research/h5q-direct

This example doesn't use `getCameras()` api, Can you see if this works for you.

[2020-09-06 12:49] mebjas commented on #65
@max2ti

I just verified it to work for Windows/Chrome

[2020-09-06 12:50] mebjas commented on #79
@Laure444

Sorry for delayed updates on this issue, I finally have access to a windows system and will try to get this issue fixed asap.

[2020-09-06 13:10] mebjas commented on #79
I just tested this on Windows 10, `electron 10.1.1` and it works just fine on that

![image](https://user-images.githubusercontent.com/3007365/92326482-380e4f80-f085-11ea-9be2-eaf478b748a6.png)

![image](https://user-images.githubusercontent.com/3007365/92326521-5bd19580-f085-11ea-8924-bbce40775e10.png)

Are you still having this issue?

[2020-09-06 13:13] mebjas commented on #79
html code:

[code]

[2020-09-06 13:13] mebjas commented on #79
Here's the code sample

[code]

And the js code
[code]

[2020-09-06 18:42] HaSa1002 opened #107 "Compatibility - Windows 10 Mobile Edge - TypeError: Object doesn't support property or method 'append' when scanning"
**Describe the bug**
I can get the cameras and press "start scanning", but once I confirmed that I get the error "TypeError: Object doesn't support property or method 'append'"

**Describe the browser:**
 - OS: Windows 10 Mobile
 - Browser: Edge
 - Version: 38

I know I have an unsupported OS, but I would appreciate any idea why this is happening.

[2020-09-07 01:54] readwn opened #108 "Is is possible to scan a curved surface qr code?"
Is is possible to scan a curved surface qr code?

[2020-09-07 10:56] max2ti commented on #65
@mebjas

I've done some more tests and found that the problem appears only if the div used by html5qrcode is managed by Vue.js. I've swapped the call to `Html5Qrcode#getCameras()` with a call to a generic awaitable (an async/await wrapper of `setTimeout`) and it worked, so it's not what  `Html5Qrcode#getCameras()` does, any "time waster" works.

There's probably nothing wrong with html5-qrcode, I

[2020-09-07 15:45] mebjas commented on #108
Can you share a sample image?

[2020-09-07 15:47] mebjas commented on #65
I see, thanks for update.

There seems to be many folks who would like to use this feature - that too with `Html5QrcodeScanner` class. Please use this issue to add your requirements.

[2020-09-09 10:07] agrawalk9 opened #109 "Not able to scan the code."
Always getting the error "QR Code no longer in front of camera. QR code parse error, error = Couldn't find enough finder patterns (found 0)"
My code -
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./html5-qrcode.js"></script>
</head>

<body>
    <div id="rea

[2020-09-09 12:57] isanjaymaurya opened #110 "[Feature Request] add support for react also"

[2020-09-12 03:38] mebjas commented on #109
@agrawalk9

Thanks for filing the bug. Can you share more details on the environment i.e. the browser and the OS (+ version) you are testing this on?

Your code looks correct, except for setting `fps: 0,` (why?), but I assume this shouldn't be the root cause of the issue you are seeing. It'd also be good to post a sample QR code that you are testing on in case the error comes from there.

[2020-09-12 03:39] mebjas commented on #108
@readwn gentle reminder on this.

[2020-09-16 06:44] la23jr21 commented on #58
I encountered the same issue. May I know what's best to fix this? Any tips for me to proceed?

[2020-09-16 10:16] neeact opened #111 "QR Code read is not correct for ~60% of the times..."
Hi!

When we read the QR code, the result is lots of times (60 /70% of the times) wrong - i.e. showing special characters and adding more characters etc.

I'm using a **fps** value of 2.
Will the accuracy increase if we increase the fps or is this independent?
How can we increase the accuracy of the reader?
Thank you.
-ct-

[2020-09-16 12:36] mebjas commented on #111
That is unfortunate, can you share the samples of QR code where the results are coming inaccurate

[2020-09-16 13:14] neeact commented on #111
Hi Minhaz,

sure - here is an example:

[image: image.png]

it should read "*spot-12366-register-09889098*"

Thank you.
All the best,
-ct-

---
Carlos Tavares
Managing Partner
Mobile: (+351) 916 125 490
Email: carlost@neeaconsulting.com

Office: Estrada de Paço de Arcos, 6D, 2770-129 Paço de Arcos, PT
Phone: (+351) 21 365 4000
*....*
*NEEA*CONSULTING

On Wed, Sep 16, 2020 at 1:37 PM minhaz <notifi

[2020-09-17 15:35] neeact commented on #111
Hi Minhaz,

we have increased the FPS parameter to 10 and this has increased the
accuracy of the scanner a lot (to 90 / 95%) so I guess that the fps rate
have an influence on this!...
I guess that the accuracy issue is gone now.

We are now getting a problem with the Cordova compilation for iOS - let me
check if we can see what's happening.
All the best,
-ct-

---
Carlos Tavares
Managing Partner
M

[2020-09-18 20:25] AndyTenholder commented on #110
I got the Html5QrCodeScanner working in a React project.  I created a JS file and manually added the non-minified Html5QrCode, Html5QrCodeScanner , and getLazarSoftScanner logic.  Then added the export flag to the Html5QrCode and Html5QrCodeScanner classes.  Here's the basic component.

    import React from 'react';
    import { AppState } from 'src/logic/store';
    import { connect } from 'reac

[2020-09-19 07:24] mebjas commented on #110
@AndyTenholder This is very cool - would you be interested in sending a PR with example [here](https://github.com/mebjas/html5-qrcode/tree/master/examples)

The format would be
[code]

Please refer to other examples at [./examples](https://github.com/mebjas/html5-qrcode/tree/master/examples).

Also, add a section to main [readme.md#framework-support](https://github.com/mebjas/html5-qrcode#framewor

[2020-09-20 06:20] mebjas commented on #110
@AndyTenholder I have added a crude example of how to use this library with React (https://github.com/mebjas/html5-qrcode/pull/113). I am sure this is not the most recommended way of doing so, If you are interested please feel free to improve on the current example with recommended practices.

The example sits in [examples/react](https://github.com/mebjas/html5-qrcode/tree/master/examples/react)

[2020-09-20 06:39] mebjas commented on #79
I am closing this bug as **not reproducible** - please update or reopen this bug if you are still facing this issue.

[2020-09-20 06:39] #79 closed

[2020-09-20 06:42] mebjas commented on #108
Closing due to lack of response. @readwn - please feel free to reopen if this issue persists.

[2020-09-20 06:42] #108 closed

[2020-09-20 06:42] mebjas commented on #109
Closing due to lack of response. @agrawalk9 - please feel free to reopen if this issue persists.

[2020-09-20 06:42] #109 closed

[2020-09-20 07:05] mebjas commented on #107
I'll take a look at this - trying to setup some infrastructure to reproduce and fix this.

I did find some relevant resources that might help - https://stackoverflow.com/questions/15405848/object-doesnt-support-property-or-method-append-in-ie9

Please let me know if this would still be helpful - @HaSa1002

[2020-09-20 07:07] mebjas commented on #111
@neeact Sorry the QR code sample you sent over email didn't not get attached to the Github Issue, would you be able to attach it directly from GitHub UI?

There is an overall action item on me to improve the accuracy of this scanner.

check if we can see what's happening.

What issue are you facing? I would recommend creating a new issue for this.

[2020-09-20 12:10] neeact commented on #111
@mebjas the frame rate solves the accuracy issue - i.e. using 10 FPS the reader behaves quite well - accuracy close to 100%, so I guess this issue is solved ;)
Txs!
-ct-

[2020-09-20 12:10] #111 closed

[2020-09-21 13:11] dom2049 opened #114 "Camera permission request fails, SSL is on."
Two domains, same SSL certificate from Cloudflare, two test pages with identical code.
One works and asks for permission to access camera, one does not and gives an error "NotAllowedError : Permission denied".
Tried on Chrome and new Edge, same error.

I tried it on several of my websites to find that domains .net and .com work, and others do not.

https://domagoj.net/test.html - works
https://tec

[2020-09-23 05:04] nrakochy commented on #110
Hi there,

Thanks for the project. I did not actually get this working before I realized that I need the `scanFile` api, but thought I would share this here, in case someone is looking for hooks instead of a class component.

[code]

[2020-09-23 08:34] vfa-loinh opened #115 "Request camera permission failed"
**Describe the bug**
Run with Line internal browser an error occurred when request camera permission

**To Reproduce**
Steps to reproduce the behavior:
1. Open link in Line App
   - https://blog.minhazav.dev/research/html5-qrcode.html
2. Click on Request Camera Permission
3. See error

**Expected behavior**
Can request camera permission

**Screenshots**
https://ibb.co/LRYCJ63

**Smartphone (please

[2020-09-23 12:11] dom2049 commented on #115
I have the same issue as you. Posted before you. On one test address it asks for permission as it should, on the other I get the same error as you. On a desktop or mobile phone. It's been days now and I can't figure it out and no one is replying here.

[2020-09-23 12:14] dom2049 commented on #115
I have a feeling it could be about exotic domain name extensions? yours is .dev, mine is .app? .net is working.

[2020-09-23 18:57] ashujill commented on #25
Qr code not scanning on safari browser please help me

[2020-09-24 01:38] LoiNH commented on #115
Thank for your answer, I'm also finding another solution.

[2020-09-24 07:12] dom2049 commented on #115
I found that my problem lies with the feature-policy response header and fixed the problem by setting the web.config of the site to what's below. Notice the "camera *" part... It was camera 'none' before for me.

<httpProtocol>
      <customHeaders>

        <add name="Feature-Policy" value="accelerometer 'none'; camera *; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none

[2020-09-24 07:14] dom2049 commented on #114
I found that my problem lied with the feature-policy response header and fixed the problem by setting the web.config of the site to what's below. Notice the "camera *" part... It was camera 'none' before for me.

You should really talk more about this feature on your web site, as it cracked my head why it didn't work without any explanation.

<httpProtocol>
      <customHeaders>

        <add name

[2020-09-24 07:14] #114 closed

[2020-09-24 07:56] dom2049 commented on #115
`<httpProtocol>
      <customHeaders>
        <add name="Feature-Policy" value="accelerometer 'none'; camera *; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment *; usb 'none'" />
      </customHeaders>
    </httpProtocol>`

[2020-09-24 11:50] mebjas commented on #110
@nrakochy Thanks for this. Would you like to send a PR with examples for others on using this with `React hooks instead of a class component` - Happy to review and merge.

[2020-09-24 17:26] #110 closed

[2020-09-29 01:56] sensationpanda commented on #57
the same problem, some Android phone has many cameras

[2020-09-29 02:07] sensationpanda opened #116 "How to make the camera focus automatically"
when I scan a small size QR code, this can't match the QR code, If the camera can autofocus, it can solve this problem. Is anyone who knows how to make a camera autofocus? Thanks

[2020-09-29 06:24] tayssirch opened #117 "Compatibility - [IOS] Safari - Button not Clickable to open camera"
Java Script Error
SyntaxError Unexpected token '=' Expected an opening '(' before a method's parameter list
https://blog.minhazav.dev/research/h5q-direct
If you enter to this URL, the button "Start Scanning" is not working on Safari,

Tested on:
Macbook Air - Safari
Iphone - Safari

here the error in the console:
https://ibb.co/WzvFZjb

[2020-09-29 08:52] georgewei opened #118 "How to use it in VUE?"
I've read [issue 49](https://github.com/mebjas/html5-qrcode/issues/49), the [demo project](https://github.com/mebjas/html5-qrcode-examples/tree/master/vuejs) is not a real VUE project, but just some code snippets, and I can not integrate the component named ’qrcode-scanner‘ into my project.

I've try the code as follows:

[code]

I got this runtime error:

and I can not find html5-qrcode.min.js in

[2020-09-29 09:35] georgewei commented on #118
Continue the exploration, I commented the duplicated declaration of _classCallCheck, _defineProperties, _createClass & _defineProperty, my project is compiled, but I got another runtime error:

[2020-09-29 13:46] Silviobramas opened #119 "Can't preselect environment camera"
How can I pre select the environment camera in simple mode?

When I try to use the pro mode it's not possible to get an camera id. But when i use the simple mode I have an access to the cameras.
[code]

Any idea how to preselect the camera in simple mode or tu gat the camera id in pro mode?
Thanks

[2020-10-03 03:21] mebjas commented on #119
You can preselect the `environment` camera in `simple` mode (i.e. using `Html5Qrcode` class directly) by passing cameraConfig in place of cameraId

[code]

Reference: https://github.com/mebjas/html5-qrcode#start-scanning

As for using it in `Html5QrcodeScanner` which I assume is the pro mode (correct me if I am wrong) - it's not supported yet. I am still trying to understand how to best extend the

[2020-10-03 03:24] mebjas commented on #118
The demo project is obsolete - does this not work - https://github.com/mebjas/html5-qrcode/tree/master/examples/vuejs ?

[2020-10-03 03:26] mebjas commented on #117
Yea that was a issue with my demo code, it was using the ECMA5 Javascript which I use for development, I switched it to using minified pure js code - it should work now.

I'll close this issue as resolved, please reopen if this is still happening for you.

[2020-10-03 03:26] #117 closed

[2020-10-03 03:28] mebjas commented on #115
This is very interesting, thanks for calling this out - there is a full read at https://developer.mozilla.org/en-US/docs/Web/HTTP/Feature_Policy/Using_Feature_Policy and I should probably call this out in main README

Can you confirm if fixing the `Feature-Policy` header on server side fixed this?

[2020-10-03 03:31] mebjas commented on #115
I found out that there is a javascript API to check the list of allowed feature policies
[code]

I'll add this to the library to make debugging easier.

Reference: https://developers.google.com/web/updates/2018/06/feature-policy#js

[2020-10-03 03:34] mebjas commented on #115
But the key problem asked by @vfa-loinh is for the demo website which should have this feature policy enabled. I'll try to reproduce this in Line internal browser. @vfa-loinh Can you share any new context you may have into the issue or if this is still an issue?

[2020-10-03 03:36] mebjas opened #120 "[Feature Request] Add better error reporting for easier debugging"
There have been several occasions where developers found it hard to debug why the library won't work and they have mostly been due to couple of recurring issues:

 - Using the library with `http` only website. Camera permissions are not granted for `http` websites except localhost and this is not easily conveyed by current error reporting. (Asked several times over comments on articles or gist)
 -

[2020-10-03 03:37] mebjas commented on #116
What is your test environment here? That would be device, OS, browser etc.

Can you share some screenshots as well if possible. Auto focus might be possible if the APIs are exposed by your environment.

[2020-10-03 03:41] mebjas commented on #57
@sensationpanda There is a way to handle this if you want to build for smartphones - with latest version you can use the facing mode instead of the cameraId + label

[code]

This is a demo for that - https://blog.minhazav.dev/research/h5q-direct, this might be helpful for the webview related issue as well. Can you check if this helps?

[2020-10-03 03:42] mebjas commented on #57
This is documented in the main readme - https://github.com/mebjas/html5-qrcode/blob/master/README.md#scanning-without-cameraid

[2020-10-03 03:54] mebjas commented on #25
@ashutoshs4 Which demo were you testing?

[2020-10-03 04:13] mebjas commented on #120
Can leverage following API to test camera permission by `Feature-Policy`

[code]

[2020-10-03 05:54] dom2049 commented on #115
For me the feature-policy setting for the camera definitely resolved the issue. I was using nopCommerce that comes with the CSP headers preset in the web.config and they explicitly forbid the use of the camera("camera: 'none'). And that overrides browsers even asking for the permission from the user.
You can see where I figured it out after I received help after filing a bug with chromium. https:/

[2020-10-04 12:38] sensationpanda commented on #116
I tested it on my website, the device is iPhone, my problem is that if I scan a QR code that is less than 130 pixels, which cannot scan successfully. Because the size of the QR code is too small, the QR code will be very blurry and the camera cannot recognize it. But if I use the iPhone’s own camera scan function, the iPhone’s camera will automatically focus, and the code can be scanned successful

[2020-10-08 15:17] S0zil6 opened #121 "Nothing works"
Hey just tried to implement this into my page and it works to the point that im getting the default layout provided by Easy mode but once I want to start scanning nothing works. When I click on Request permissions button it does nothing neither does the file upload button and there are no errors in the console. Im using localhost but tried it on https aswell and same result

[2020-10-08 15:30] S0zil6 commented on #121
Managed to fix it by adding this line to my js
`document.featurePolicy.allowsFeature("camera");`

[2020-10-09 06:09] georgewei commented on #118
This project is not a REAL VUE project, I can't make it works.

[2020-10-09 14:35] mzijlstra opened #122 "Compatibility - [Linux] [Firefox] - [aspectRatio]"
**Describe the bug**
aspectRatio configuration doesn't work under Firefox because this constraint is not yet supported by Firefox, see:
https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/aspectRatio#Browser_compatibility

**Additional context**
By allowing the user to pass a full videoTrackConstraint object the problems caused by this can be avoided (since the user can then spe

[2020-10-09 15:17] ygoe commented on #63
I also see decoding errors. The text often contains the same errors, single characters are wrong. Sometimes, lots of unprintable garbage is appended to the decoded text. I tried on my desktop USB webcam (720p) in Firefox with a QR code shown by a QR generator on my smartphone.

There's nothing I can do on the application side to detect this. I want to decode 1) short device IDs without any checksu

[2020-10-09 18:44] edilson20yadir commented on #115
Good afternoon.
I have a bug, that when the permissions are requested, it goes to the next execution and it does not list the cameras and it presents me with the following error ERR_FILE_NOT_FOUND in the html5-qrcode.min.js file
Thanks

[2020-10-10 12:38] mebjas commented on #115
Thanks for confirmation. I'll close this bug in that case, please reopen if the issue persists.

[2020-10-10 12:38] #115 closed

[2020-10-10 12:43] mebjas commented on #122
This feature request looks similar to https://github.com/mebjas/html5-qrcode/issues/97

Let me take this on and add support for passing video constraints directly as a hidden API for now. You can follow the conversation in https://github.com/mebjas/html5-qrcode/issues/97 to understand why I do not want to make it public yet but you can go ahead and use the latest version of library I publish.

If

[2020-10-10 12:44] mebjas commented on #118
I see got it, do you have a reference to your project, let me publish a real Vue project to show how it can be used.

[2020-10-10 12:47] mebjas commented on #121
Looks like you likely had the same issue described in https://github.com/mebjas/html5-qrcode/issues/115

[code]

[2020-10-10 12:53] S0zil6 commented on #121
Hey thanks for the response. Well it can be something with that but i have noticed one thing - Everything actually works when i reload page and start fast clicking on the button to request cam permissions. It lets me scan all like normally but if i reload the page and let it load for some time and try to use button then it does not work. So there is like something blocking it after the page is loa

[2020-10-10 14:53] mzijlstra commented on #122
You are right, passing the videoConstraints mentioned in #97 would solve this (specifically if width and height are included).

I'll close this request, and will track #97

Thanks!

[2020-10-10 14:53] #122 closed

[2020-10-10 15:11] S0zil6 commented on #121
I think the problem is that g.addEventListener("click", .... only happens when i click on it when the page is in the state of loading and not loaded. Could be something with DOM but im not sure.

[2020-10-11 08:19] mebjas commented on #121
In this example particularly the `docReady` method is only called when the DOM is loaded. And it's when you call the `render()` method that the whole UI of qr code scanner is built and event listeners are added.

If you would like to debug further I'd recommend adding the three scripts separately (works on Chrome only IIRC)
[code]

And then debug where it might not be working in the `html5-qrcode-

[2020-10-11 08:22] mebjas commented on #116
Can you add a sample screenshot here? I'll try to see if something can be done to scan it.

[2020-10-11 08:26] S0zil6 commented on #121
Okay I will try to create another Laravel project and check if its a compatibility problem. Btw I have tried to use the full files and I am getting error LazarSoftScanner is not defined.

[2020-10-11 09:22] S0zil6 commented on #121
Found the core of the problem. In laravel blade syntax when you extend some layout you are using by

`@extends('layouts.app')`

and then put your html content in section you want it to go

[code]

your reader seems not to like it. For some reason the buttons get blocked after the page is loaded and php is executed thus explaining why it works only when the page is loading and the php did not have

[2020-10-11 09:36] S0zil6 commented on #121
Well i narrowed it down to my app.js. But because how laravel works i would have to keep removing dependencies and compiling it just to find the one that is causing the issue. Its for sure something from there cause when I removed link tag which was linking it into my app all worked. I can send you uncompiled files if you want to take a closer look on what could be the issue but I got it fixed sin

[2020-10-11 11:24] mebjas commented on #116
just fyi, I have created a new PR (experimental) that will allow the users to request for manual focus if the device's camera support the capability. But handling focus would be a very tricky option from the app level and it's better handled at the device's auto focus level.

[2020-10-11 11:28] mebjas commented on #97
Created a PR to support passing `videoConstraints`. Along with this I added two new **experimental** APIs to `Html5Qrcode` that will

 - `getRunningTrackCapabilities()`: get capabilities of running track
 - `applyVideoConstraints(videoConstaints)`: Apply a few supported constraints to running track

A WIP demo: https://blog.minhazav.dev/research/html5qrcode-video-constraints

I observed Android/Ch

[2020-10-11 11:34] #97 closed

[2020-10-11 11:34] #116 closed

[2020-10-11 11:34] mebjas commented on #97
Please reopen this issue, if something is still missing

[2020-10-11 14:42] mebjas commented on #121
Have you tried using it as a Vue components so you don't have to add a reader separately and the component will own the html `div` element - reference: https://github.com/mebjas/html5-qrcode/tree/master/examples/vuejs

[2020-10-12 16:39] trouthunter opened #124 "Calling stopScan on android-11 hangs"
**Describe the bug**
Using the demo page, calling stopScan hangs somewhere

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo page
2. Enable scanning
3. Click stop scan
4. See error

**Expected behavior**
Should just close the camera

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Android 1

[2020-10-13 01:22] jkcoxson opened #125 "Allowing Camera Crashes Chrome"
Hello, I am using your API in my program, and whenever I allow camera access Google Chrome crashes completely, and I get the report to Apple window (I'm on a Mac).

The code I'm using is straight from your example:

[code]

My console is not giving any errors, it is just saying signal terminated.

 - OS: MacOS
 - Browser Chrome
 - Version 86.0.4240.75 (Official Build) (x86_64)

[2020-10-15 16:31] ianbroad opened #127 "Unable to query supported devices"
**Describe the bug**
Trying your simple demo in VSCode and when I run the live server and connect using my iPhone XR, when I click Request Camera Permissions, it states "unable to query supported devices"

**Expected behavior**
The camera to work

**Smartphone (please complete the following information):**
 - Device: iPhone XR
 - OS: iOS 14.0.1
 - Browser: Chrome / Safari

**Additional context**
I

[2020-10-15 16:39] #127 closed

[2020-10-15 16:39] ianbroad commented on #127
I found out it was an https issue after further research.

[2020-10-18 03:52] georgewei commented on #118
I've wrtten a demo here: https://github.com/georgewei/html5-qrcode-vue-demo

At last, it works. But I still can not use html5-qrcode.min.js directly, I have to use the uncompressed source code and modified it to avoid some compile errors. And I have removed some UI elements to make the scanner looks simple.

[2020-10-19 02:42] isaacdarcilla opened #128 "Uncaught ReferenceError: Html5Qrcode is not defined"
Uncaught ReferenceError: Html5Qrcode is not defined

Code

[code]

[2020-10-19 17:19] stefanodias opened #129 "[Feature request] Add support for flash Light"
Hello, in many cases we need Flash Light to reading QrCode, it's possible?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise d

[2020-10-20 09:45] shain-digix opened #130 "Camera doesn't show up in webview inside mobile app"
**Describe the bug**
I was trying to use the plugin in a webpage to be shown as webview inside an app. For web browsers, it works good. But in the app webview, the camera doesn't show. Any suggestions to fix this?

[2020-10-20 17:39] nrakochy commented on #128
Can you check the script loaded correctly? I think I ran into a `Refused to execute script ... because its MIME type (‘text/plain’) is not executable, and strict MIME type checking is enabled.` in Chrome at one point. You may need to load it with `fetch` or some such thing

[2020-10-21 00:12] #128 closed

[2020-10-22 01:12] jkcoxson commented on #125
For anyone else with this problem, you must have https on your server, or Debug Chrome will crash.

[2020-10-22 01:12] #125 closed

[2020-10-25 09:20] mebjas commented on #130
This is duplicate of https://github.com/mebjas/html5-qrcode/issues/58. I tried to fix this before but couldn't get to the root cause. I'll try to spend more time to see if this support can be extended. Please track this issue in the #58 , if you feel it's different, please feel free to reopen this issue.

[2020-10-25 09:20] #130 closed

[2020-10-29 20:26] croxarens opened #132 "Messages Internationalization"
Hi there,

is there any way I can translate the messages like "Request Camera Permissions", "Scan an Image File"?

[2020-11-03 11:09] Zaffer commented on #14
Hi Mebjas, is there any optimism to fix this bug? Most people now prefer to use chrome on iOS.

[2020-11-04 18:52] ianbroad opened #133 "[Feature Request] Adding barcode scanning functionality?"
Has there been any thought on adding barcode scanning functionality as well to this library?

[2020-11-07 04:38] mebjas commented on #14
This is unfortunately out of my hand. This has been forever open at https://bugs.chromium.org/p/chromium/issues/detail?id=752458

One thing I can try to do is to make the file / device camera based option as the first option when user opens the web page on iOS from browsers other than Safari - would that help  @Zaffer

One thing that could push Apple move in the direction to implement this would b

[2020-11-08 18:14] Martin-SK opened #134 "qr-reader-results - special characters"
Hi, when QR code is decoded output in **qr-reader-results** is **without special characters**.

**Screenshot:**
https://prnt.sc/vfnyn0

It possible to fix that? Thanks

[2020-11-09 08:27] max2ti commented on #134
Maybe part of this is relevant https://github.com/mebjas/html5-qrcode/issues/63#issuecomment-669829605

[2020-11-12 03:54] starcccAAA opened #135 "Compatibility - [Windows] [Firefox] - [Request Camera Permissions]"
In Firefox,
if you put the div into <form> tag, the Request Camera Permissions button will not working.
you will always get a new page with input name.

[2020-11-13 09:54] mahasadhu opened #136 "V1.2.3 failed to work in ios devices"
**Describe the bug**
I just tried using this library v1.2.3 , but it does not show any camera on ios devices. The demo page (https://blog.minhazav.dev/research/html5-qrcode.html) also is not working.

Happened on iOS using safari browser. Cannot see the console for any errors because it's a phone.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to scan using ios / iphone devices using sa

[2020-11-13 10:50] Eschon commented on #136
I also ran into that issue. The Problem seems to be that iOS Safari does not support the used JavaScript syntax yet. Since the class Syntax should be supported it is probably the static properties. Here are the errors that I get:
<img width="990" alt="Screenshot 2020-11-13 at 11 47 02" src="https://user-images.githubusercontent.com/11647830/99064526-596c4a00-25a6-11eb-8a3f-4f94e611e5e2.png">

[2020-11-13 11:01] Eschon opened #137 "Problems with using npm to install/import the library."
**Describe the bug**
I tried to use the library through npm and have found a few issues.

**To Reproduce**
Steps to reproduce the behavior:
1. import `npm i html5-qrcode`
2. Try importing the library like `import Html5QrcodeScanner from 'html5-qrcode'`
3. Get a module not found error
4. Change import to `import Html5QrcodeScanner from 'html5-qrcode/minified/html5-qrcode.min'`
5. Get a module build

[2020-11-15 20:07] jkassis opened #138 "Demo not Working on Current IOS"
iPhone 8
ios 14.2

[2020-11-16 02:17] imSurya-georgian opened #139 "Default to Back Camera (if available) when using the Html5QrcodeScanner instead of Html5Qrcode"
There is no option to default to the back camera option when using the Html5QrcodeScanner class.
If there is an option. Please let me know how to use it.

[2020-11-16 14:13] e-magon commented on #97
Hi
I'm having issues setting the aspect ratio of the camera on Firefox, macOS.
Brave Browser (Chromium) on macOS is fine, the aspect ratio is correct when it's set in the `config` object or the `videoConstraints` one.

In Firefox, instead, it uses the default webcam aspect ratio. I also noticed that even the `frameRate` option in the `videoConstraints` isn't applied in Firefox.

I don't know if th

[2020-11-19 20:42] gabaum10 commented on #137
I'm running into this issue too.  The directions are woefully inadequate for getting this up and running in a webpack environment.

[2020-11-20 10:28] georgewei opened #140 "Error locator degree does not match number of roots"
I've read [(https://github.com/mebjas/html5-qrcode/issues/55)], i'm not sure if it is solved. Today, I met the same error.

This is the test qrcode, which is generated by jquery's qrcode() function:

[code]
![test_qrcode](https://user-images.githubusercontent.com/28130/99789409-821fb100-2b5d-11eb-8df8-e25bf356bbc0.png)

[2020-11-20 14:20] AmitSah opened #141 "Some Mobile Phone Device not Supporting QR Scanning"
Hi Mebajs,

I am using the plugin and it is going really great but on some devices, it is not working and the camera is not opening. the list of the device is below:

J4+ Version Android 10
J2 Pro Version Android 10
Huawei P30 LITE Version Android 10
Samsung J7 prime Version Android 9.5
huawei Y9 Version Android 10

Could you please help to get some insight on this issue?

[2020-11-21 01:20] #118 closed

[2020-11-21 01:57] georgewei commented on #139
I've modified html5-qrcode-scanner.js to achieve this goal. The idea is:

1. Use an array to keep the camera ids on calling Html5Qrcode.getCameras()
2. Use an integer to keep the index of current camera id, initialize it to the last one (If there is only one camera, set index to 0; if there are two ,set index to 1)
3. Pass the selected camera id (Not the index) on calling  html5Qrcode.start()
4. A

[2020-11-21 02:09] georgewei commented on #137
The minimized code has duplicated snippets, do not use it.

Download the original src/html5-qrcode-scanner.js, src/html5-qrcode.js & third_party/qrcode.js, put them in your project. But, you still have to modify some code to avoid compile errors.

Wish the author can fix it, I don't think it is difficult.

[2020-11-21 02:35] gabaum10 commented on #137
Did somebody create a fork with the necessary?  If not, maybe I'll try on Monday if I can find some time and submit a PR.  I believe this project is still active for merging.  I just don't know how it got built/deployed in a totally broken state and no one have complained outside this issue.

[2020-11-21 06:09] mebjas commented on #141
Hi thanks for raising this issue, can you share what is the issue faced on devices where it's not supported?

[2020-11-21 06:17] mebjas commented on #139
Per APIs there is no reliable way to determine which camera Id is back and which is front. In the past versions the support for `facingMode` was added to `Html5Qrcode` (not `Html5QrcodeScanner` class). Here's a demo for that - [link to demo](https://blog.minhazav.dev/research/h5q-direct)

While I do see benefits to adding this to `Html5QrcodeScanner` directly, the problem is this is not scalable a

[2020-11-21 06:18] mebjas commented on #138
Which browser?

[2020-11-21 06:22] mebjas commented on #137
Thanks for raising this issue, I was unaware of it.

@gabaum10 Please feel free to send a PR, I am happy to review --> merge --> publish.

Alternatively, I'll try to take a stab and send a fix myself. @gabaum10 / @georgewei - PLMK!

[2020-11-21 13:34] georgewei commented on #139
Detecting the brower type is not reliable for some mobile browers can run in 'desktop' mode.  I prefer to expose the camera info (id, name, etc.) and let the developer to choose which is the default one.

[2020-11-21 14:21] georgewei commented on #137
@mebjas Is it still necessary to keep using '<script src="..." type="text/javascript">' to import a module? I prefer to use 'import' statement in JS files, or '<script src="..." type="module">' in HTML files.

[2020-11-22 13:15] mebjas commented on #140
@georgewei Thanks for raising this, this has been a issue for a while now. As you reported it's similar to #55.

To address this I have been considering to move to ZXing js based library. I have created a prototype in `beta-zxing` branch. Based on my testing the library seems to be able to scan the QR code you have shared reliably.

You can try out the demo here: https://blog.minhazav.dev/research

[2020-11-22 13:22] mebjas commented on #135
Ah this is interesting, thanks for raising this. To double confirm this is happening by using `Html5QrcodeScanner` class right?

[2020-11-22 13:24] mebjas opened #142 "[Feature Request] Migrate codebase to TypeScript"
As the code base is growing it's error prone to maintain it with javascript. Scope of this issue is:

 - [x] Migrate existing codebase to Typescript
 - [x] Migrate from hacky build script to proper code generation using `tsc` and `yarn`.
 - [ ] Migrate the tests to run on the typescript source.

[2020-11-22 13:27] mebjas commented on #134
@Martin-SK Thanks for raising this, As @max2ti shared this has been a issue for a while now. It's similar to https://github.com/mebjas/html5-qrcode/issues/63.

To address this I have been considering to move to ZXing js based library. I have created a prototype in `beta-zxing` branch. Based on my testing the library seems to be able to scan the QR code you have shared reliably.

This is what I got

[2020-11-22 13:28] mebjas commented on #63
Folks thanks for the patience, this issue was priority1 and I have been trying to get some time to address this.

To address this I have been considering to move to ZXing js based library and have created a prototype in `beta-zxing` branch. Based on my testing the library seems to be able to scan the QR code you have shared reliably.

You can try out the demo here: https://blog.minhazav.dev/resear

[2020-11-22 13:29] mebjas commented on #133
@ianbroad

I have created a prototype which should be able to scan some barcodes, can you give it a try?

You can try out the demo here: https://blog.minhazav.dev/research/html5-qrcode-beta
Here's the minified code to experiment with: [link to minified js](https://raw.githubusercontent.com/mebjas/html5-qrcode/beta-zxing/minified/html5-qrcode.min.js)

Please let me know if this addresses your useca

[2020-11-22 13:32] mebjas commented on #61
Work in progress prototype for Barcode scanner in `beta-zxing` branch.

You can try out the demo here: https://blog.minhazav.dev/research/html5-qrcode-beta
Here's the minified code to experiment with: [link to minified js](https://raw.githubusercontent.com/mebjas/html5-qrcode/beta-zxing/minified/html5-qrcode.min.js)

After testing with some different barcodes, I'll move it to prod. Feedbacks welco

[2020-11-22 13:33] mebjas commented on #133
Also, @ianbroad This issue is a duplicate of https://github.com/mebjas/html5-qrcode/issues/61. I am closing this one, please follow #61 for more details on this.

[2020-11-22 13:33] #133 closed

[2020-11-22 13:33] mebjas commented on #61
cc: @ianbroad

[2020-11-22 15:17] georgewei commented on #140
I've tried the demo, the scanned result is not stable:

The test qrcode:

[2020-11-22 15:25] georgewei commented on #140
It's even worse for my first test qrcode in this thread:

[2020-11-22 15:43] mebjas commented on #140
It seems to be related to the input feed, can you share what platform are you using to test? Even the new QR code seem to work fine but I am testing on Pixel 3.

[2020-11-22 15:59] georgewei commented on #140
I'm using MI MIX 2, Android 9. These two codes can be recognized correctly by Wechat.

[2020-11-22 20:42] jkassis commented on #138
safari

[2020-11-23 05:02] mebjas commented on #138
Thanks for pointing this out, there was a recent regression in demo code, which broke it for Safari IOS. This has been fixed now please retry.

[2020-11-23 05:03] mebjas commented on #141
There was a recent regression in demo code which broke it for some devices. The issue has been fixed - can you retry if it fixes the issue on the devices you mentioned?

[2020-11-23 05:03] mebjas commented on #136
Thanks for pointing this out, there was a recent regression in demo code, which broke it for Safari IOS. This has been fixed now please retry

[2020-11-23 05:04] mebjas commented on #136
I have tested latest demo on iphone 7 safari and it works now.

[2020-11-23 05:04] mebjas commented on #138
I have tested latest demo on iphone 7 safari and it works now.

[2020-11-23 05:15] AmitSah commented on #141
Thanks, I will ask the users to check on the same.
Do I need to use the updated library file or with an earlier file also it will work?

[2020-11-23 07:20] mebjas commented on #141
Please check if https://blog.minhazav.dev/research/html5-qrcode works on these devices, if so the latest library should work as well.

[2020-11-23 08:00] AmitSah commented on #141
Sure, I have asked the user to check the link. So if it works then is there any updated library which I need to use? Please let me know.

[2020-11-24 09:48] georgewei commented on #140
@mebjas I've tried again, these two codes can be recognized correctly on my MAC. I think the strange result of the previous test dues to my old IBM X230 laptop: the resolution of its screen is only 1388*768. However, Wechat can recognize these
codes correctly on both machines.

[2020-11-25 08:28] Martin-SK commented on #134
Hi, now everything works correctly.

I tried different QR codes with special characters and everything is ok.

Good job

[2020-11-25 20:23] AmmarKhaliq commented on #141
Getting error when we ask for camera permission in mobile devices.

"unable to query supported devices"

[2020-11-26 06:14] mahasadhu commented on #136
@mebjas could you tell me what's changed? because I don't see any new release or new commit pushed to the repo. Or am I missing something?

And yes it's working on our iphones here too on safari

Thanks!

[2020-11-29 19:29] imSurya-georgian commented on #139
@mebjas Sorry for the late response. I am using Html5QrcodeScanner render function to give UI to the 'div' element. This is already implemented. Now that I want the Rendered UI to use the back camera by default whenever it is available and if not use the only available camera (Front Camera).

[2020-11-30 21:05] BenTalagan commented on #63
Hi @mebjas, and thanks a lot for the hard work and huge effort on this lib and for maintaining it! This is a major, if not the biggest issue in your framework. Reliability is critical for some applications :)

The new branch using `zxing` makes a huge difference for me on my own use cases. For the following QR Code, for example, I get 10% of errors using the stable branch, and could not even make

[2020-11-30 21:15] ygoe commented on #63
I haven't gotten around to try the new branch but @BenTalagan 's report sounds very promising. It's good to hear that this can be solved and it makes me more confident that I can implement my planned application with it.

[2020-12-02 23:06] ianbroad commented on #61
@mebjas Thank you, I just saw this.  I will give it a test and report back.

[2020-12-03 09:52] georgewei commented on #140
@mebjas This issue is misinformed. It dues to the wrong code in my qrCodeSuccessCallback handler which throws an exception but not catched, then the caller function qrcode.decode() fails.

btw, I've tried to integrated the code of ZXing branch into my project, it works well right now.

[2020-12-03 09:52] #140 closed

[2020-12-05 06:33] ceyhunn opened #143 "[Question] choosing qrcode image file by default"
Camera doesn't work in http site as you said.  How to use image file by default? How to hide camera view?

[2020-12-06 08:14] mebjas commented on #138
Marking as closed, please reopen if the issue still exists.

[2020-12-06 08:14] #138 closed

[2020-12-06 08:15] mebjas commented on #136
It was a wrong deployment of code to the demo page, it wasn't an issue in published library.

[2020-12-06 08:15] mebjas commented on #136
Marking as closed for now, thanks for verification.

[2020-12-06 08:15] #136 closed

[2020-12-07 04:39] mahasadhu commented on #136
umm, when I was first found this issue, I found it by using the published library (v1.2.3).

I only tried the demo page after I realized it's not working on our devices, to make sure whether the problem was only on us or in the actual library itself.

[2020-12-09 11:07] telbook opened #144 "Compatibility - [iOS 11] [Safari] - [Black screen when click start scanning]"
i try demo page but when click start scanning, the screen is black and can not start or stop scanning.

![11111](https://user-images.githubusercontent.com/12323255/101622196-53547680-3a49-11eb-8bd2-e79d70a6faeb.jpg)

[2020-12-09 11:14] georgewei commented on #143
Can't you upgrade your site to support https? I think it's a basic & necessary security technique, and there are free SSL certifications available, e.g. Let's Encrypt.

[2020-12-11 14:24] #143 closed

[2020-12-14 09:38] Vincz commented on #137
Hey guys! Any news about this? I need to use this scanner in a React  / Webpack project.
@gabaum10 What about this fork you were talking about?

Thanks!

[2020-12-16 08:59] Erica-W opened #145 "[Feature Request] camera focus"
Hi,
thanks for your great work!
when qrcode is small, can the camera auto focus be achieved?
Cheers

[2020-12-16 17:48] georgewei commented on #137
@Vincz You can try this to manually import the source code into your project:

1. Download third-party/qrcode.js, src/html5-qrcode.js & src/html5-qrcode-scanner.js
2. Modify these 3 files as the attached picture
3. import Html5Qrcode or Html5QrcodeScanner in your code
![1](https://user-images.githubusercontent.com/28130/102386375-f4bf6780-4009-11eb-924d-5f2ef9dffba4.jpg)

@mebjas I have submitted

[2020-12-18 07:30] Zaffer opened #147 "[Feature Request] select environment camera by default"
Can you please make the front facing camera { camera: environment } the default selection in your easy code version? No one scans a QR code with there selfie cam!

I have done use testing and very always faces this issue when the first use the plugin. It opens to selfie first and then they don't know what to do next. This will save much frustration and be better user experience.

Additionally, can

[2020-12-23 12:40] Thecreator1 commented on #63
I solved the issue in the early release by making multiple scan cycles and pushing the decoded value into an array and increment a counter++ on each scan cycle.
Then when the counter reaches a preset number of n scan cycles, extract the mode value of the array, the value that is most common in the array.

[2020-12-24 04:47] lazy61 commented on #145
that's exactly what we need. On small QR Codes the scanning performace is very bad, 1cm x 1cm QR Size for example is very hard to scan, also maybe an option to enable the camera light on mobile phone will be helpful.

[2020-12-29 10:06] Yididiyah commented on #147
I'm also facing the same issue. There has to be a consistent way to select which camera to use by default from the code, similar to the what MediaDevices.getUserMedia() has facing mode prop.

[2020-12-30 13:48] juanpablo64 opened #149 "allow to change language to spanish"
The web page I am currently working on is in spanish, and the language of the QR scanner area is in english, I wanted to add the possibility to change the lines to spanish.

[2021-01-04 12:01] nitin282001 commented on #145
Hi there
I am also facing this issue of focusing the camera , my qr are small and camera is not focusing anyone got any solution for this ?
Anyone help me out of this 💯
Thanks in advance

[2021-01-07 11:52] georgewei commented on #144
I suggest you use  [RemoteDebug iOS WebKit Adapter](https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter) to debug it.

[2021-01-07 12:04] georgewei commented on #14
It's confirmed that WKWebView of newest iOS 14.3 supports WebRTC, so thirt-party browsers can utilize it.

[2021-01-08 14:03] juanpablo64 opened #150 "onScanSuccess not fired upon success scan of QR code"
**Describe the bug**
A clear and concise description of what the bug is.
the function onScanSuccess is not fired when the QR code has been succesfully scanned.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://encuestas.cat-online.com.ar/catnet-mobile/#/ddjj/scanner/14
2. Click on start scanning (preferably with phones, uploading an image works)
3. Show it this scan code

![qr-cod

[2021-01-15 18:35] anonuserch opened #152 "[Feature Request] Insert into mysql DB after Scan with Ajax?"
Hello everyone, has someone already extended the code to save the QR code content in a Mysql database after each scan (with Ajax -> PHP)?

[2021-01-16 04:51] xblack0 opened #153 "Camera Id Empty list"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
  - OS: Windows 10
 - Browser: Edge (ch

[2021-01-17 05:22] mebjas commented on #14
This is awesome, thanks for updating. I'll verify and update the docs.

[2021-01-17 05:24] mebjas commented on #14
This is awesome, thanks for updating. I'll verify and update the docs.

[2021-01-22 18:18] hmanov opened #154 "[Feature Request] One liner for the request"
Hello and great job with this project!

I was trying to reduce camera count, and get the rear one first. So i found this solution, to sort cameras based on "width.max" and get only one rear and one front. i hope you will like it!

[code]

[2021-01-22 22:41] TheWizz commented on #154
How about:

{facingMode: "environment"},

? Seems to work fine on all devices I've tested for obtaining the rear-facing camera.

-JM

[2021-01-24 13:34] bernardarhia commented on #152
Yh I have. I'm working on a project which scans the qrcode and do some ajax calls but I want to auto restart instead of always pressing the request camera permission.

[2021-01-24 13:36] bernardarhia opened #155 "[Feature Request] Auto restart after first permission given"
Is there a way I can auto restart the the camera after I give the camera permission rather than also requesting the camera manually?

[2021-01-25 06:06] sjpickup commented on #14
This isn’t working for me using WKWebView in iOS 14.3. I get “unable to query supported devices.” after pressing “Request Camera Permissions”, even if I add prior Swift code to request camera authorization. Is there a sample iOS app that should work? If not I’ll create one.

[2021-01-25 09:11] TheWizz commented on #14
AFAIK, webviews can't access the camera "live" in the way required here. This goes for iOS and Android.

https://stackoverflow.com/questions/56646575/wkwebview-does-not-allow-camera-access-in-application

-JM

[2021-01-25 09:22] sjpickup commented on #14
Thanks @mebjas, but I thought @georgewei above has confirmed this is now allowed from iOS 14.3. Sorry I didn't reference that explicitly.

[2021-01-25 09:49] TheWizz commented on #14
He's talking about WebRTC. I don't think that's what's being used here.

-JM

[2021-01-25 15:17] mebjas commented on #14
@georgewei Can you share some reference about the new support?

[2021-01-27 05:47] sjpickup commented on #14
I did get it working within a WKWebView in a Swift app under iOS 14.3. It's barely functional (I found it very difficult to get any QR code to scan) and it isn't pretty but the permissions seem to be solved. Source code here: https://github.com/sjpickup/wkwebview-html5-qrcode

[2021-01-28 14:01] sameerdodai58 opened #156 "Error : QR code parse error, error = couldn't find enough finder patterns"
Iam getting this  "QR code parse error, error = couldn't find enough finder patterns" very frequently almost all the time 8 attempts fails out of 10. Don't why this issue occurs .
Iam using chrome on android 10 in samsung mobile and verion of library is (v1.0.5)

I aslo added short video of that.

https://user-images.githubusercontent.com/61628227/106148659-21cf7000-619b-11eb-8a80-c34d761688e4.mp4

[2021-01-28 18:44] georgewei commented on #14
@mebjas  I've tested this project on iOS 14.3 and it works. It was confirmed by others on webkit.org already, and there is another thread: https://blog.bitsrc.io/ios-14-3-brings-webrtc-to-wkwebview-closing-gap-on-ios-accessibility-90a83fa6bda2

[2021-01-28 19:50] bapak71 opened #157 "TypeError: cannot read property 'then' of undefined"
Hi. I got this error when trying to use this qrcode scanner. I've tried it on my own server

https://booking.lawwa.online/qrcode2/scanner.php

and also on the demo page

https://blog.minhazav.dev/research/html5-qrcode.html

the error trigger when i click on [Request Camera Permissions]

.. is it problem with my phone ?

i'm using vivo - android ver 9.

thanks in advance

really hope this could wor

[2021-01-29 05:49] #156 closed

[2021-01-29 06:26] sameerdodai58 opened #158 "Iam getting this "QR code parse error""
Iam getting this "QR code parse error, error = couldn't find enough finder patterns" very frequently almost all the time 8 attempts fails out of 10. Don't why this issue occurs .
Iam using chrome on android 10 in samsung mobile and verion of library is (v1.0.5)

    <div id="reader" style="max-width:100;width:250px;height:300px; border: 1px solid blue; float: left"></div>
    <br>
    <div id="mes

[2021-01-29 20:20] georgewei commented on #157
Which browser are you using? Both your demo and the author's work fine on my MI Mix 2, Android 9, Yandex 20.4.4(A Chrome compatible browser).

[2021-01-29 20:49] georgewei commented on #155
html-qrcode-scanner.js is just a UI demo, you can customize it. I've written a demo here:

https://github.com/georgewei/html5-qrcode-vue-demo/blob/master/src/scripts/html5-qrcode/html5-qrcode-scanner.js

Pay attention to how functions __getCameras() and __startScan() executed.

[2021-01-30 15:09] bapak71 commented on #157
somehow i manage to get it working today... thanks anyway.

[2021-01-30 15:09] #157 closed

[2021-01-31 03:36] bapak71 commented on #157
i know i already close this - just for note - i just realise the issue only raise when i use VIVO browser.

it is ok when i open using mobile chrome.

[2021-01-31 10:26] mebjas commented on #157
I see, looks like VIVO browser doesn't support promise APIs, is that a common browser used?

[2021-01-31 11:40] georgewei commented on #157
Global Smartphone Market Share of Q3, 2020, by IDC

https://www.idc.com/promo/smartphone-market-share/vendor

Vivo was back to top 5 and owned 8.9% market share.

[2021-02-01 03:28] bastienWang opened #159 "Compatibility - [Android 11] [Chrome 88.0 ] - [Call stopScan will cause crash]"
**Describe the bug**
I use my phone link to Demo site, I repeated the start scanning and stop scanning, browser will cause crash.

**Describe the browser:**
 - OS: [Android 11]
 - Browser [Chrome]
 - Version [88.0]

**Additional context**
If use Chrome 83.0 is OK.

[2021-02-03 13:00] bcalik commented on #145
Is there any improvements on auto-focus?

[2021-02-12 00:13] magizergi commented on #25
The scanner works when it is on live server like when I click golive in vscode but when i open the html file directly  the scanner ask permission but display couldn't find camera id error on console when start scanning

[2021-02-18 08:30] vklaus commented on #134
It really works perfectly now! In official version I have to use:
`message = decodeURIComponent(escape(qrCodeMessage));`

But since the probem with bad results (#63) I will have to use only new (beta) version.
Thank you! 👍👍👍

[2021-02-25 01:45] rajpancha1 opened #160 "Expanding qrScanSuccess() with additional parameters or return the qrMessage itself."
Hello Minhaz and all:
I am new to this forum. And I am not an expert in javascript.

This is a great project. Thank you,  Minhaz.

**Is your feature request related to a problem? No
I'm using html5-qrcode.js  to scan QRcode and populate the key:value pairs from the result qrMessage on to the HTML5 page text fields.

** A clear and concise description of what the problem is:
An option to return the

[2021-02-26 08:05] MSkred commented on #149
I want to do same in french

[2021-02-26 09:08] MSkred commented on #149
I'm worked with vue but I've a bad solution for css and text in another language.

[code]
![Uploading Capture d’écran 2021-02-26 à 10.08.04.png…]()

[2021-02-27 20:12] daffymarco opened #163 "Read Barcode (EAN, UPC, ...)"
Hello!

This API is very nice, but I need to read EAN, UPC, ITF-14, 128, and so on... It's possible update to this options too?

Thank you.

[2021-03-05 11:53] abitmarty opened #164 "Compatibility - [HTTPS] [Google Chrome] - [Camera permission denied]"
When running on my HTTPS server.
I open the scanner in Google Chrome: NotAllowedError : Permission denied.
It doesn't ask for my camera permission (no pop-up). However your example does work.
- It works on Windows Firefox

**Describe the browser:**
 - Windows Google Chrome
 - Android Google Chrome

![afbeelding](https://user-images.githubusercontent.com/37896369/110111959-6610ea00-7db1-11eb-83d9-f

[2021-03-07 15:07] dseeker commented on #72
If the scanner is running .clear() works perfectly, but before pressing the start scanning the clear method has no effect. How to close the UI the same way as clear without having started scanning first?

[2021-03-15 10:19] ianaltosaar opened #165 "Opening the camera writes error messages in the console"
Once the camera is activated and the user wants to scan the QR code, there's a continuous error message in the console.

The camera works, the scanning works but new lines of error messages are constantly written in the console. Error messages below.

![console](https://user-images.githubusercontent.com/72142534/111138187-4daa8780-8588-11eb-91e8-42823a069f9b.png)

**To Reproduce**

Happens every t

[2021-03-16 08:15] ianaltosaar commented on #165
Forgot to add that this problem only applies to the beta version https://github.com/mebjas/html5-qrcode/tree/beta-zxing

[2021-03-17 13:20] tekook commented on #137
Any update on this @mebjas ?

[2021-03-19 11:50] tobiashld opened #166 "unable to query supported devices."
The Code results in an log message "unable to query supported devices. I've tried many variations of Codes for Example. the transpiled one and the minified versions but it's always the same result. I'm just getting into coding and i don't know what i should do.
The Devices i've tried the code on were my pc (runnin on windows 10) and my Iphone X (runnin on ios 14.4).

[2021-03-24 14:46] aiswaryavajit opened #168 "Camera is not working in IOS Cordova app"
I am working on  cordova  hybrid app.In the app im trying to load QRcode scanning using iframe,which is implemented in our web page.But the camera is not working in the IOS app.
 I have added the demo URL "https://blog.minhazav.dev/research/html5-qrcode.html" directly as a source in the iframe but there also  phases the same camera issue.
 The demo url and our web page hosted QRcode scanning works

[2021-03-24 20:46] MrGussio commented on #159
@bastienWang As you might see in the activity feed of this issue, I have found a solution to this issue. If you just use the compiled JS files, they can be found already in the [pull request](https://github.com/mebjas/html5-qrcode/pull/169) contents.

[2021-03-28 06:33] diwakar2000 commented on #166
same problem with me

[2021-03-31 09:38] FluckyMENDES commented on #94
I've faced with the same problem. How can I change in the library to make it read the white QR codes?

[2021-03-31 11:03] Techn1c4l opened #170 "[Feature Request] Allow using other QR code detection libraries"
I had some trouble detecting QR codes with large data. It takes too long to read. I believe this is mainly problem with the LazarSoft QR reading library. I've tested the jsQR library and had much better results. While LazarSoft reader takes about 3-5 seconds to read, jsQR makes it almost instantly. Unfortunately, there is no way we can use any other library with this scanner.

However, there is a

[2021-04-01 06:49] thk-root commented on #94
I have made it work simply by inverting the colours of the canvas each time it scans and it doesn't detect normal code. I can't really make a pull request, because I hotfixed it on a refactored version, but here's the snippet (line ~1310):

`q = function b() {
					if(g._shouldScan) {
						if(g._localMediaStream) {
							var c = g._videoElement,
								d = c.videoWidth / c.clientWidth,

[2021-04-07 02:52] leihfei opened #171 "[Feature Request] support 微信 browser"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-08 15:07] FluckyMENDES commented on #94
Man, you saved my life! It really works at qr camera-scanner, this is awsome! But now I can't make the script works with attaching qr-images.  Haven't you fixed the attaching images?

[2021-04-08 18:07] juanpablo64 opened #172 "{ facingMode: "environment" } keeps selecting user cam"
Hi! I have this declaration, that should use the enviroment cam instead of the user cam,

function loadQRScanner() {
			//inicializamos los scanners de QR y archivos, respectivamente
			html5QrCode.start(
				{ facingMode: "environment" },
        		{ fps: 10, qrbox: 250 },
				qrCodeMessage => {
    			// do something when code is read
				},
				errorMessage => {
				    // parse error, ignore i

[2021-04-09 07:19] thk-root commented on #94
Unforunately no, because we only use the camera scanner. I'm sure the concept is the same (filtering the canvas), it's just a shame this isn't supported in the core code

[2021-04-10 05:09] mebjas commented on #172
Which device / environment is this happening? Also, can you try `{ facingMode: { exact: "environment"}` instead.

[2021-04-10 05:11] mebjas commented on #171
Can you share what error is reported when running the library at the moment?

[2021-04-10 05:17] mebjas commented on #170
Thanks for pointing out the problem and a potential solution. So far I have been building this up as a coupled user experience on top of LazarSoft reader. Recently I have been thinking to migrate to `zxing` javascript port. Your design idea seems a good choice to move forward when making that port so that, those interested can inject another kind of javascript reader.

[2021-04-10 18:04] Techn1c4l opened #174 "[Feature Request] Set 'autoplay' property when creating the video element"
I faced the issue when using the **Html5Qrcode** class - the camera stream won't play automatically on an Android Cordova app. Only the ugly grey placeholder would appear.

At first, I wrote the code to set the **setMediaPlaybackRequiresUserGesture** to **false** for the system WebView component which is used by Cordova:

[code]

The problem still persisted. I had to modify the **_createVideoEleme

[2021-04-13 11:34] mebjas commented on #163
Support added with https://github.com/mebjas/html5-qrcode/pull/173

 - Demo: https://blog.minhazav.dev/research/html5-qrcode
 - Github release: https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.0
 - NPM: https://www.npmjs.com/package/html5-qrcode

[2021-04-13 23:24] mebjas commented on #166
@tobiashld @diwakar2000

Few question:
1. Is the demo website running for you on the same set of devices - [link to demo](https://blog.minhazav.dev/research/html5-qrcode) ?
2. Can you share screenshot of developer console running the demo app - in case there is more information there.

[2021-04-13 23:26] #163 closed

[2021-04-13 23:28] mebjas commented on #134
Code has now been migrated to use `Zxing-js` in v2.0.0. Hoping for it to fix the decode issues.

Support added with https://github.com/mebjas/html5-qrcode/pull/173

 - Demo: https://blog.minhazav.dev/research/html5-qrcode
 - Github release: https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.0
 - NPM: https://www.npmjs.com/package/html5-qrcode

[2021-04-14 18:18] tobiashld commented on #166
1. Yes, I tested it on my iphone on my own website and on the demo website. Everything was fine on the demo website but on my website there was the good old "unable to query supported devices" error.
2.
![qrcodeproblem](https://user-images.githubusercontent.com/42995595/114759440-70ce7f80-9d5e-11eb-9eb4-63bbbb3f77f1.PNG) this is a screenshot of the console log from the demo website and this
![qrco

[2021-04-15 07:31] JimmyBjorklund opened #175 "Lots of logs even when verbose is false"
Lots of logs even when verbose is false

N
    at Jt.decodeRow2pairs (http://localhost:4200/scripts.js:1:109332)
    at Jt.decodeRow (http://localhost:4200/scripts.js:1:108988)
    at ee.decodeRow (http://localhost:4200/scripts.js:1:124433)
    at ee.doDecode (http://localhost:4200/scripts.js:1:64409)
    at ee.decode (http://localhost:4200/scripts.js:1:63485)
    at ir.decodeInternal (http://loca

[2021-04-15 07:46] linusnorton commented on #175
I came here to say the same. It's killing firefox

[2021-04-15 10:20] diwakar2000 commented on #166
For me, the problem was that I was using it on a site without SSL
certificate. So, my problem has been fixed. Thank you for the follow up.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&u

[2021-04-15 11:09] vincent12dev opened #176 "[Feature request] Add support for argument to hide file based scan option."
Hi,
how to use only camera without file "Scan an image File".

Best regards

[2021-04-15 12:41] mebjas commented on #166
Ah this has happened in the past, let me add a better error messaging in the interim to surface this issue faster to users / developers. @tobiashld  is it possible you are having similar issue? Is there an online link I can try?

[2021-04-15 12:42] mebjas commented on #176
Currently this is not supported, changed this to feature request.

[2021-04-15 12:43] mebjas commented on #175
Ah looks like a regression from a recent pull request. Working on addressing this.

[2021-04-15 12:56] mebjas opened #177 "[Feature Request] Add support for providing the code formats to support"
Since Version 2.0.0 the library has added support for various code formats (2D and 1D formats). Not every users might have this usecase, add support for passing a list to override this - by default it could parse every formats.

Add documentation and write up on this.

[2021-04-15 14:18] mebjas commented on #175
The fix is submitted and released as version 2.0.1 please take a look.

 - Github release - https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.1
 - NPM - https://www.npmjs.com/package/html5-qrcode

[2021-04-15 14:19] mebjas commented on #175
@linusnorton @JimmyBjorklund Could you help verify the fix?

[2021-04-15 14:20] mebjas commented on #174
Thanks for reporting the issue and suggesting a fix, will try it out and send a PR thanks!

[2021-04-15 14:41] linusnorton commented on #175
@mebjas confirmed fixed

[2021-04-15 15:08] #175 closed

[2021-04-15 15:22] tobiashld commented on #166
its very likely hahaha @mebjas I was already planing on using a ssl certificate. If the qr code scanner is not working with an implemented ssl certificate i am going to open another issue or so but i think we can close this one for now.

[2021-04-15 15:22] #166 closed

[2021-04-15 16:31] JimmyBjorklund commented on #175
Works

[2021-04-15 16:31] JimmyBjorklund commented on #165
Try the latest version, its fixe for me there 2.0.1

[2021-04-15 19:05] jbrasero opened #180 "Error after last update"
Hi, after last update, it's not working my app and I'm getting following error...

html5-qrcode.min.js:4 Uncaught TypeError: Cannot read property 'scanFile' of undefined
    at HTMLInputElement.<anonymous> (html5-qrcode.min.js:4)

Any idea?
Thanks and best regards,
 Jesús

[2021-04-16 01:55] mebjas commented on #165
This should now be fixed in version 2.0.1 --> closing!

[2021-04-16 01:55] #165 closed

[2021-04-16 06:57] ianaltosaar commented on #165
Thanks, it worked.

[2021-04-16 09:48] jdtimmerman commented on #159
This issue is still present and I can confirm that @MrGussio´s change (which i rebased onto the current master) solves this issue for me (on Chrome 89). @mebjas could you please triage this? I´d say it´s an high-prio issue.

I did notice one of the tests are failing, but I also had some issues with the transpiling so this could just be an issue on my environment.

[2021-04-16 10:27] MrGussio commented on #159
@jdtimmerman I had some transpiling issues too - IIRC I eventually managed to do it by hand using Babel. Good to know that the fix also works for the most recent master version.

[2021-04-16 12:37] ROBERT-MCDOWELL opened #181 "[Feature Request] command line example for the minified version"
**Describe the solution you'd like**
Hi all, I would like to know the right command line used by this project to minify the JS as I would like to modify the src code to my taste. Thank you very much

[2021-04-16 12:55] ROBERT-MCDOWELL commented on #181
oops sorry I just saw it is explained way down to the README.

[2021-04-16 12:55] #181 closed

[2021-04-16 13:14] ROBERT-MCDOWELL opened #182 "[Feature Request] One liner for the request"
**Describe the solution you'd like**
Would it be worth to create a "language js file" where all html text are in vars and also a css file to customize all elements if needed?

thanks

[2021-04-16 15:54] lnlauber commented on #164
Do any of the devices have multiple cameras/ a wide angle lens? I'm experiencing similar and seem to have narrowed it down to an incompatibility with the cameras

[2021-04-17 13:45] vklaus commented on #134
It seems to me that version 2.0 is great and works well with special characters.
Thank you!

[2021-04-17 15:28] mebjas commented on #159
Thanks for reporting the issue and thanks @MrGussio for the fix & @jdtimmerman for the verification.

Added a comment to the PR, happy to merge asap. (Sorry have been a busy lately).

[2021-04-17 15:30] mebjas commented on #134
Thanks for verification @vklaus

@Martin-SK @max2ti - Would it be possible to verify this for your use cases, if it tends to fix I'd close this issue.

[2021-04-17 15:34] mebjas commented on #164
Do you have a link to the https server (assuming it's live). Can you run the [demo link](https://blog.minhazav.dev/research/html5-qrcode) in your devices

We have had something similar in the past related to `feature-policy` - see this issue for reference - https://github.com/mebjas/html5-qrcode/issues/115

Mozilla developer website reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Feat

[2021-04-17 15:36] mebjas commented on #158
In the latest version starting v2.0.0 we have ported the library to Zxing-js which extends support for more codes and makes QR code scanning robust. Would it be possible to verify this with latest version?

Support added with https://github.com/mebjas/html5-qrcode/pull/173

 - Demo: https://blog.minhazav.dev/research/html5-qrcode
 - Github release: https://github.com/mebjas/html5-qrcode/releases/t

[2021-04-17 15:40] mebjas commented on #180
I cannot reproduce this on Chrome/MacOS - can you share where you are seeing this issue (which browser / device?)

[2021-04-18 20:28] jbrasero commented on #180
Hi! Thanks for your review. My app was working and suddenly I receive these error.
Now fails on Chrome/MacOS and Safari/MacOS
Thanks for you help & support

<img width="1402" alt="safari" src="https://user-images.githubusercontent.com/10437309/115159811-3aae3a00-a095-11eb-8b54-7747c803acc5.png">

[2021-04-20 03:18] ROBERT-MCDOWELL opened #185 "Browser version"
is there any table of each browser minimum version required to make html5-qrcode work?

[2021-04-21 10:10] eduboxgithub commented on #137
I'm also trying to use this lib on an Angular probject without success.
I'm getting a similar error when building the app.

How can I import the module in my project?

Thank you.

[2021-04-21 10:42] eduboxgithub opened #186 "[Feature Request] Angular suport and example"
In the initial page there are some examples using this lib with popular frameworks, but there is no Angular example.

![image](https://user-images.githubusercontent.com/13800439/115540846-62202500-a296-11eb-8752-84c0f488604f.png)

Can Angular get some love and receive an example page?

I'm also requesting this because, I'm currently trying to use this lib in a Angular project and I’m struggling to

[2021-04-21 10:49] tekook commented on #137
I could not find any way. I switched to zxing. Their library works like a charm.

https://www.npmjs.com/package/@zxing/library

[2021-04-21 16:35] joshmoto opened #187 "Using npm webpack with html5-qrcode"
Your demos are awesome but i'm struggling to get html5-qrcode working in my javascript.

Here is the most basic example i'm using after installing your library via npm.

`
require('html5-qrcode');

// This method will trigger user permissions
Html5Qrcode.getCameras().then(devices => {

    if (devices && devices.length) {
        let  cameraId = devices[0].id;

        // Create instance of the ob

[2021-04-21 19:01] ROBERT-MCDOWELL commented on #187
it looks like your browser is not compatibles with builtin cameras or is too old or it simply blocks camera devices at the system level

[2021-04-21 19:31] joshmoto commented on #187
Doubtful, the demos work fine on all my browsers and devices.

[2021-04-21 19:39] ROBERT-MCDOWELL commented on #187
cameras are also allowed by website... did you try another script involving cameras?

[2021-04-22 07:20] kejmUP opened #188 "Compatibility - globalThis preventing use in older browsers"
**Describe the bug**

Using globalThis dramatically raises the minimum required browser versions. Doing `globalThis || global || self || window` is not a workaround, because accessing the `globalThis` raises an exception. The proper workaround should be:

or even only editing the code to `self || window || global`.

More info here:  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference

[2021-04-22 11:22] ROBERT-MCDOWELL commented on #188
Could you fork the project and make a pull request?

[2021-04-22 11:43] ROBERT-MCDOWELL commented on #188
it seems that this issue concerns the included third party zxing-js
https://github.com/zxing-js/library

[2021-04-22 12:46] ROBERT-MCDOWELL commented on #188
apparently there is a pollyfill
Install globalthis:
npm install globalthis
Add:
import 'globalthis/auto';
in polyfills.ts

but for sure it's easier to fix the code directly and just avoid old browsers interpreting it since it needs mediaDevices object anyhow which is not working on chrome 49 and firefox under 68

[2021-04-23 22:54] mooreaa commented on #177
I think this is a good idea, especially if it would improve the performance knowing what types of barcodes to look for.
This is done on various barcode scanner units and can really improve acquisition time, especially on older/slower devices.

[2021-04-24 01:44] mooreaa opened #189 "[Feature Request] multiple barcodes in view"
Running into an issue where it appears the scanner isn't finding a result when more than one barcode is in the field of view.

Would be nice to have an option to display a bounding box around the found objects, and maybe have an additional option to then scan the one in the center of the view.

I currently delay after the item is found so that the target indicator can go green before auto submitti

[2021-04-24 01:54] ROBERT-MCDOWELL commented on #189
I think you can move the target and resize it too. check the code.

[2021-04-24 06:14] mooreaa commented on #189
well the "target region" defined by qrbox automatically shows white/green indicators. I was thinking something of a transformed rect around the target https://raw.githubusercontent.com/serratus/quaggaJS/master/doc/img/mobile-located.png

This is from the quaggaJS library. I like how its clear which barcode is being read when it does recognize it.

[2021-04-24 11:07] ROBERT-MCDOWELL commented on #189
why to implement it yourself? fork the repo and make a PR...

[2021-04-24 16:25] fssrepository opened #190 "QR Code generator"
I think it would be nice, if it does not just scan as the html5-qrcode name shows, but generate qrcode also.
Most of the time we need not only scan but generate qr code for the user. Two libraries can be merged, and maintained better.

This one was quite good.

https://www.npmjs.com/package/qrcode

[2021-04-26 09:39] mebjas commented on #159
Thanks for the fix @MrGussio - it has been merged and published.

 - https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.2
 - https://www.npmjs.com/package/html5-qrcode/v/2.0.2

Closing this issue now.

[2021-04-26 09:39] #159 closed

[2021-04-26 13:31] ROBERT-MCDOWELL opened #192 "Modify images path"
Would it be nicer to have a "relative" path of the GIF images rather than point to github website?
Talk about camera-scan.gif and file-scan.gif
thanks

[2021-04-26 13:39] ROBERT-MCDOWELL opened #193 "Clear image from file input"
**Describe the bug**
from Html5QrcodeScanner class
clear function does not remove the loaded file with file upload mode

**To Reproduce**
load an image from file upload input
use Html5QrcodeScanner.clear();

**Expected behavior**
clear must clear all current variables and remove the image canvas showing the file loaded

**Smartphone (please complete the following information):**
 - Device: a;ll
 -

[2021-04-26 17:07] fssrepository commented on #187
in angular.json:

,
            "scripts": [
              "node_modules/html5-qrcode/minified/html5-qrcode.min.js"
            ]

[2021-04-26 17:09] fssrepository commented on #193
I also want to mention related to it, that with "stop", just with "clear" i don't want to clear the last image from the canvas. (I'm sending it to the background)

[2021-04-26 17:19] fssrepository commented on #193
Pls. remove line: 452 - $this._element.removeChild($this._canvasElement);
Just use on clear.

From 149 - 156 is not that good. Pls. use either promise or callback, but not both.

qrCodeErrorCallback - verbose flag is missing - i have been forced to define an empty function, to avoid logging.

[2021-04-26 18:27] jbrasero commented on #180
Hi, I have solved  including the zxing.js script... on my page.
 <script src="https://unpkg.com/@zxing/library@0.18.5/umd/index.js"></script>
Thanks

[2021-04-26 18:27] #180 closed

[2021-04-26 18:49] ROBERT-MCDOWELL commented on #193
mmhm ok, I just realized also that the clear() function remove completely the scanner if it's currently scanning,
but not effect on IDLE and with image input upload file loaded.
I thought this clear function was to reset all the data loaded with the instance. maybe the right name for this actual function would be "remove", but it then needs to remove the scanner also with idle status.

[2021-04-26 19:43] ROBERT-MCDOWELL commented on #193
Ok I think I have to make a PR, the code is incomplete and using "clear" to "remove" is confusing.
also the "clear" function does not include any upload file input panel as it states that only if the scanner is scanning so it can be cleared....

[2021-04-26 21:09] ROBERT-MCDOWELL commented on #193
do you know how to use the sources rather than the minified file? tried to import html5-qrcode.js html5-qrcode-scanner.js and zxing-js.umd.min.js but does not work. My problem is for my test I don't want to bother to minify everytime, and also there is no minified on Fedora 33 but yui-compressor which destroy the current code...

[2021-04-27 00:30] #182 closed

[2021-04-27 00:34] ROBERT-MCDOWELL commented on #193
ok for now I mad a temporary trick to clear the canvas + file input;

var canvas = document.getElementById("qr-canvas-visible");
var file = document.getElementById("[scannerContainerName]__filescan_input");
var link = document.getElementById("[scannerContainerName]__dashboard_section_swaplink");
scannerInstance.currentScanType = (scannerInstance.currentScanType == Html5QrcodeScanner.SCAN_TYPE_CAME

[2021-04-27 02:21] fssrepository commented on #193
Robert, if you have time, it's not that difficult to rewrite the whole, i don't think it's good enough for production, little bit spaghetti here and there. Unfortunately, i'm working with angular, and with typescript, so even if i refactor it completely it won't be javascript.
(my version is generating qrcode also - very likely i prefer to use the same canvas, what this component is creating)

[2021-04-27 03:29] ROBERT-MCDOWELL commented on #193
I unfortunately no time to pass to much on html5-qrcode project, so as long as my spaghettis work for old and new browsers it's ok.
I need to support old browsers, so use the native coming browser is not a good solution. Also I really don't trust browsers anymore especially if they introduce face recognition and other gadgets that will certainly open doors to illegal tracing and private data captu

[2021-04-27 14:30] mebjas commented on #192
I am not sure I understand `relative` path here? `relative` to what? - It could be done, but would require the library to be always bundled with the assets.

What issues are you facing with the assets being hosted on Github?

[2021-04-27 14:33] mebjas commented on #185
No we don't have that at the moment. The best effort we started on this was -- https://github.com/mebjas/html5-qrcode/blob/master/compatibility.md but it didn't fly.

This would be good to have, can be added to readme directly. It'd be a bit of work to track down all key APIs and then tracking browser support for them. I'll try to list down all the key APIs in this `issue` - would be happy to revi

[2021-04-27 14:38] mebjas commented on #158
Marking as closed, please reopen if this issue still exists.

[2021-04-27 14:38] #158 closed

[2021-04-27 14:40] mebjas commented on #154
Thanks for the suggestion. Since the cameras are returned by the underlying browser / device apis - I'd like to continue to show them without modification to avoid obscure issues.

[2021-04-27 14:40] #154 closed

[2021-04-27 14:41] mebjas commented on #153
This is interesting, can you tun the [demo page](https://blog.minhazav.dev/research/html5-qrcode) on Edge directly? From the screenshot it's not clear to me on what platform are you trying to run this.

[2021-04-27 14:43] mebjas commented on #152
yes on the onSuccessCallback you can trigger any kind of logic. Example

[code]

[2021-04-27 14:44] mebjas commented on #152
(please reopen if this is not clear enough)

[2021-04-27 14:44] #152 closed

[2021-04-27 14:47] mebjas commented on #150
Is the `alert` not called as well?

Meanwhile please retry with latest js library (some major updates)

 - Demo: https://blog.minhazav.dev/research/html5-qrcode
 - Github release: https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.0
 - NPM: https://www.npmjs.com/package/html5-qrcode

[2021-04-27 15:42] ROBERT-MCDOWELL commented on #192
it's just to avoid to call images out of own server. for exemple if the website is offline.
just say that since I cannot reminify your code, on Fedora the only minify is yui-compressor which destroy completely your code :(

[2021-04-28 08:13] xblack0 commented on #153
Hello there,
smart-andromeda.com

[2021-04-28 12:06] ROBERT-MCDOWELL commented on #185
maybe play with mediaDevices.getUserMedia() to test browsers?

[2021-05-01 10:58] AlfonsoML opened #195 "[Feature Request] Use native detector if supported"
**Is your feature request related to a problem? Please describe.**
Chromium has added native support to detect barcodes, so using it would be interesting as it can lead to better performance in the long term.

**Describe the solution you'd like**
Use the native API: https://web.dev/shape-detection/

**Additional context**
The API is available only in Chromium on Android, CrOS and MacOS, but it's d

[2021-05-01 11:08] ROBERT-MCDOWELL commented on #195
are the browsers garantee security about private data from the barcodes? I didn't see any whitepapers or articles preserving barcodes private data and confidentiality

[2021-05-01 12:22] AlfonsoML commented on #195
You might want to raise your concerns in https://github.com/WICG/shape-detection-api/issues
The only concern that I've found is this one from Mozilla https://github.com/mozilla/standards-positions/issues/21

[2021-05-03 13:40] mebjas commented on #193
@ROBERT-MCDOWELL
Thanks for reporting the issue, I have been able to reproduce it (& some more bugs around it). I'll take it on, thanks for the patience.

@fssrepository

Please file a separate issue, with this context in detail

You mean here, the callback should report the `verbose`ity flag initially set?

[2021-05-03 13:42] mebjas commented on #192
There was a PR in the past to inline the assets (https://github.com/mebjas/html5-qrcode/pull/95/files) which didn't get fully merged. Also there might be a way to have the assets as lightweight SVGs built into the the scripts.

Need to dig more into this.

[2021-05-03 13:47] mebjas commented on #189
Thanks for filing this, I have been thinking about this - the underlying APIs IIUC supports returning the bounding box.

I'll share the plans to do so asap (I intend to club it with a full UI overhaul, language internalization, better a11y, full screen scanning etc).

Happy to review a PR, in case you are proposing a UX change, please have a discussion on the UI changes on this thread first.

[2021-05-03 13:53] ROBERT-MCDOWELL commented on #192
indeed, svg loaded locally or even from base64 encode will avoid url request dependency

[2021-05-03 13:58] fssrepository commented on #193
If you bombard the logger 10 times per second as default, if i set verbosity flag to false, i expect that you avoid logging under this circumstances, as it has performance effect also. (and very likely meaningless, as i can't track problems) When this plugin caught my qr code, i was not able to read it in the logger, as until that 2000 lines has been logged, and the verbose flag didn't work. You m

[2021-05-05 10:01] KillerKady commented on #164
Hi @Inlauber, did you maybe find a solution for this? Having issues on Samsung phones (Galaxy S20+).

Its not working on demo link as well.

[2021-05-10 04:05] ucola opened #196 "Issue with open/close camera"
**Describe the bug**
We implement a "camera" icon, for open close directly the reader. On first time (press button, we start the camera, the qrcode is reading out) we stop the camera. If we press again on the camera icon, we became an error on console.

[code]

**Expected behavior**
Our Implementation is like bellow

[code]

**Smartphone (please complete the following information):**
 - Device: Pi

[2021-05-12 17:58] lnlauber commented on #164
Update: for me it was an issue in using the "environment" camera selection. I changed to getting the list of all devices and selecting the last one in the list and haven't had any more problems.

[2021-05-13 10:37] Techn1c4l commented on #196
This error appears when you try to stop already stopped reader. There is no video tracks attached to the stream, so there is nothing stop. You should check if the code in your if statement somehow executes more than one time. Something like this:

if (cameraStatus == true)
{
    console.log("You should not see this message twice in a row");
    html5QrCode.stop();
    cameraStatus = false;
}

If y

[2021-05-13 10:45] ROBERT-MCDOWELL commented on #196
or use a try/catch to avoid JS error. unpredictable physical devices sometimes ruins the javascript code, so it's important to take care of the time/run/status of the code managing physical devices since each device react differently from time to react,exec and return state.

[2021-05-13 18:22] Techn1c4l opened #198 "Compatibility fix - Fixing autoplay in Cordova Android apps"
I've been dealing with this problem for a very long time.

The issue is the video stream does not start automatically when being implemented in a Cordova Android app. Eventually I've ran out of solutions and just resorted to simulating a screen tap which indeed helped.

But today I've found the true reason of this behavior.

**Setting `muted` property of an HTMLVideoElement will not count as muted

[2021-05-14 02:50] jeremyteh opened #199 "Compatibility - [Mendix] ] - Reference error for ZXing"
**Describe the bug**
Unable to detect ZXing when implementing the QRCode library and integrating into mendix HTML  snippet

**Describe the browser:**
 - OS: Windows
 - Browser: chrome
 - Version: 90

**Screenshots**
<img width="445" alt="Screenshot 2021-05-14 at 10 44 15 AM" src="https://user-images.githubusercontent.com/26730409/118214266-0108fd00-b4a2-11eb-9b51-f06cca03535f.png">

[2021-05-17 09:27] ucola commented on #196
@Techn1c4l thank you, somewhere else (code) was closing the camera, that was the issue

[2021-05-17 09:27] #196 closed

[2021-05-17 11:45] haspden opened #201 "facingMode Not working"
I am having some real issues with `faceingMode` not working correctly.

in my javascript to start the scanner (html5-qrcode-test.js)  I have

[code]

however, this is not calling the rear camera, and still displaying a list of cameras

in my HTML file I have referenced a local copy of the minified JS file

[code]

  Any thoughts ?

[2021-05-21 19:46] sargearmstrong commented on #35
Dears, sorry for reopening. I have similar/related problem that I kindly desire some guidance on, pretty please!

Using html5QrCode 2.0.3, in my qrCodeSuccessCallback.. I am immediately calling html5QrCode.stop() using await and then reactivating it once done with parsing logic.. this works great (visible in code below).

However, I'd like to keep camera off for X seconds (so user can verify parse

[2021-05-23 14:58] nssidhu opened #202 "QR code parse error, error = R: No MultiFormat Readers were able to detect the code."
I am getting this error is the browser console. and it is in infinite loop, thousands of them.
Testing on Google chrome desktop browser.

[2021-05-23 16:09] ROBERT-MCDOWELL commented on #202
you should provide more info to solve your issue

[2021-05-23 17:24] nssidhu commented on #202
const config = { fps: 10, qrbox: 250 };
        html5QrCode = new Html5Qrcode(barCodeScanner);
        const qrCodeSuccessCallback = message => {

            blazorPageReference.invokeMethodAsync('QrCodeText', message);
            audio.play();
        }

        // If you want to prefer back camera
        html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);

that al

[2021-05-23 17:34] ROBERT-MCDOWELL commented on #202
you should wait until html5Qrcode is created and ready.

[2021-05-23 19:37] nssidhu commented on #202
What am i doing before the html5Qrcode  is ready ? new Html5Qrcode(barCodeScanner) does not have ready/then.
Can you tell me what correction would be needed to fixe the error in the code above ?

[2021-05-23 21:21] ROBERT-MCDOWELL commented on #202
did you put your code once the window loaded and document ready?
also comment in audio.play() and see if it's better

[2021-05-23 22:55] nssidhu commented on #202
Yes, the code is being called from button click event manually way after page has loaded.
audio.play() is used for sound when , but commenting it does not make difference.

[2021-05-23 23:28] ROBERT-MCDOWELL commented on #202
proceed by commenting your code step by step.
also try your code on several browsers.

[2021-05-24 22:27] gitToad opened #203 "jquery still part of npm package dependencies ?"
I know you pulled out jQuery dependencies from the code.

I just did a npm install html5-qrcode in my project and typescript is giving me some jQuery related errors (i don't use jQuery in my project)

Is it possible there is still some dependency on jQuery in your npm package ?

PS:thank you for the QR Code scanner: works really well, is very well documented and was easy to get to work !!!

[2021-05-24 22:34] gitToad commented on #203
Sorry my bad, someone else was pulling it in (bootstrap) false alarm

[2021-05-24 22:34] #203 closed

[2021-05-27 14:06] smiley486 commented on #139
Hello
did we find a solution to default load which camera to use on load?

[2021-05-27 14:25] ROBERT-MCDOWELL commented on #139
listen the selectbox with video devices and use localstorage to save it.

[2021-05-27 15:01] smiley486 commented on #139
Thanks

[2021-05-27 15:41] mebjas commented on #202
@nssidhu Can you try this on the latest published library i.e. with version https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.3

[2021-05-27 15:42] mebjas commented on #199
Can you confirm if you are using the `dist/html5-qrcode.min.js` ?

[2021-05-28 07:36] mebjas opened #205 "Test infrastructure is broken"
Travis test passes despite test failures.

Now that the code has been ported to typescript, we should be able to write modular unit tests while fixing the existing e2e test on top of mocha.

 - [x] Fix existing e2e tests using mocha
 - [x] Add unit test for typescript components

[2021-05-28 07:37] mebjas commented on #198
Thanks for the bug and suggestion, merged to master. Will be published soon!

[2021-05-28 07:58] rodinator47 commented on #202
I have the same problem as nssidhu. I'm using the latest version of the library and have tested it in Chrome, Firefox and Safari. Unfortunately I get the same error in the console in an infinite loop.

This is how I'm using it:
[code]

[2021-05-28 08:51] mebjas commented on #202
Is this reproducible for the demo as well?

https://blog.minhazav.dev/research/html5-qrcode

[2021-05-28 09:02] mebjas commented on #201
Please note that `facingMode` option is only supported for `Html5Qrcode` class and not `Html5QrcodeScanner` class.

I'll work on implementing it soon, please track this feature request at https://github.com/mebjas/html5-qrcode/issues/139

[2021-05-28 09:02] mebjas commented on #201
Closing this issue as duplicate

[2021-05-28 09:02] #201 closed

[2021-05-28 09:11] mebjas commented on #202
@rodinator47 Thanks for verifying. I just published [version 2.0.4](https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.4).

Would you be able to see if the issue is reproducible on the latest version?

[2021-05-28 09:14] mebjas commented on #174
@Techn1c4l Can you confirm if this is still needed to run the video stream successfully on Cordova app?

[2021-05-28 09:22] mebjas opened #206 "Error information not hidden after the issue is mitigated"
![image](https://user-images.githubusercontent.com/3007365/119961890-1f5e1500-bfd9-11eb-8aa9-72e31d4e17c5.png)

Steps to reproduce & expected behavior:
1. Have multi camera setup
2. Select a camera & start which fails for some reason (reproducible with a logical camera setup)
3. Switch to another camera and start
4. The error is still visible while it should have been removed.

[2021-05-28 09:24] mebjas opened #207 "[Feature Request] [Tracking Bug] [Help Wanted] UI Overhaul for version 3.x.x"
Considering UI overhaul for version 3.x.x, user experience requirements?

 - [ ] **[P1]** Intuitive UI to select camera, switch camera while scan is running
 - [ ] **[P1]** Support for internalization

## Note
Looking for someone with UX/UXR experience to help make the user experience better for this library.

[2021-05-28 09:29] mebjas commented on #195
Thanks for sharing this, for starters now we have support for intermediate shim layers, (those implement [QrcodeDecoder](https://github.com/mebjas/html5-qrcode/blob/master/src/code-decoder.ts#L17) interface) we should be able to plug native decoders.

I'll tryout `BarcodeDetector` and run some performance test around it.

[2021-05-28 09:37] mebjas commented on #202
I able to reproduce this issue, thanks for sharing more information.

Working on finding root cause, will publish a fix asap.

[2021-05-28 09:48] mebjas commented on #202
Found the root case, it was due to `console.log` being set as error callback if not other error callback was provided by caller eve if the verbose flag was not true.

Created this PR: https://github.com/mebjas/html5-qrcode/pull/208

Would you be able to verify with this script on your end as well if the issue is resolved: https://raw.githubusercontent.com/mebjas/html5-qrcode/issue_202/dist/html5-q

[2021-05-28 09:56] rodinator47 commented on #202
It works! There are no errors in the console anymore.
Thanks for taking care of it so quickly :)

[2021-05-28 09:58] mebjas commented on #202
Thanks for verification.

The fix has been merged & released to npm and Github release.

[2021-05-28 09:58] #202 closed

[2021-05-28 10:16] mebjas commented on #170
Some updates, the source code is now migrated to typescript. The code health is still far from perfect but its a bit easier now to add your own library for reader.

**Added a shim layer which can be used to replace the library quickly.** Maybe some documentation around this will help.

Some references:
 - [Decoder interface](https://github.com/mebjas/html5-qrcode/blob/master/src/core.ts#L148)
 - [

[2021-05-28 10:20] mebjas commented on #142
Separate tracking issue for item#3 - https://github.com/mebjas/html5-qrcode/issues/205, closing this one

[2021-05-28 10:20] #142 closed

[2021-05-28 12:17] ROBERT-MCDOWELL opened #210 "Non fatal warnings when JS loaded"
2 minor warnings of undefined variables when the minified script is loaded

Timestamp: 5/28/2021 5:14:25 AM
Warning: ReferenceError: reference to undefined property "__awaiter"
Source File: https://xxxxxxx/html5-qrcode.min.js
Line: 2

Timestamp: 5/28/2021 5:14:26 AM
Warning: ReferenceError: reference to undefined property "foreverScanTimeout"
Source File: https://xxxxxx/html5-qrcode.min.js
Line: 4

[2021-05-28 12:21] ROBERT-MCDOWELL commented on #210
Also when the video device is launched for the first time scanning 2 more warnings:

Timestamp: 5/28/2021 5:19:01 AM
Warning: ReferenceError: reference to undefined property 4
Source File: https://xxxxx/boss/html5-qrcode.min.js
Line: 2

Timestamp: 5/28/2021 5:19:01 AM
Warning: ReferenceError: reference to undefined property "qrMatch"
Source File: https://xxxxx/boss/html5-qrcode.min.js
Line: 4

[2021-05-28 12:27] ROBERT-MCDOWELL opened #211 "Scan camera and file links inverted in last git"
when the JS is loaded,
by default the camera scan type is launched, but the link below the button "request permissions"
should show the link that switch to "Scan an image file" rather than "Scan using camera directly"

[2021-05-28 13:07] mebjas commented on #211
you are right, thanks for reporting.

Working on the fix

[2021-05-28 17:26] #211 closed

[2021-05-28 17:27] mebjas commented on #211
fix released to https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.6

[2021-05-29 19:34] Qiming-Liu commented on #53
Hi, I just write a simple CSS theme for it.
https://github.com/Qiming-Liu/html5-qrcode-css

[2021-05-30 05:30] mebjas commented on #53
@Qiming-Liu Thanks for sharing this.

Additionally,
We need more of a UI overhaul as described in https://github.com/mebjas/html5-qrcode/issues/207 which changes some of the existing issues, redundancies, internationalization issues and probably even allow developers to customize the style without having to implement on top of `Html5Qrcode` directly.

Looking forward to hear more feedbacks on this

[2021-05-30 05:37] mebjas commented on #53
Started a discussion for this - https://github.com/mebjas/html5-qrcode/discussions/213

[2021-05-31 13:38] dovdovrandom commented on #82
This is great!

Any plan to implement auto fullscreen? Passing in a 'fullscreen' parameter that covers the entire screen, regardless of device, and centers the scan area?

[2021-05-31 22:10] ROBERT-MCDOWELL opened #214 "Save selected cameraID for html5QrcodeScanner method"
Is there a way to save the cameraID selected and attach it
when the page is reloaded later?

[2021-06-01 14:30] dampee commented on #187
I think it has to do with the bundling of ZXing
If I try `import Html5QrcodeScanner from 'html5-qrcode';`

I do get the error message
[code]

If I use the filepath in my import, I do the message that ZXing can not be found.
[code]

[2021-06-03 14:43] SuikoHero38 opened #218 "[Feature Request] File Upload Crop and rescan"
**Is your feature request related to a problem? Please describe.**
Yes, I am currently using this wonderful library, and I found it would be better on the file upload part, we can crop the uploaded file, and once we done crop, the library scan/rescan the cropped file to show the result.

**Describe the solution you'd like**
Mentioned above

**Describe alternatives you've considered**
Nothing in pa

[2021-06-03 14:54] ygoe opened #219 "Image view size cannot be controlled"
**Describe the bug**
The camera live image view is of any size but nothing usable. I'm designing a mobile app like view in the browser. It should use the upper half for the video and the bottom half for results and actions. Whatever I try, as soon as the video starts, that area resizes to something very unexpected. Too wide, too tall, not aligned, and the focus rectangle in the middle is unaligned

[2021-06-07 12:30] Damsjov opened #220 "Scanning without ID doesn't actually scan"
Hi

I implemented this code:

[code]

And sure enough it opened the back camera alright. But it never actually scans anything - it just sits there...

What am I missing?

Thanks, Claus

[2021-06-10 08:37] DerDee commented on #177
TLDR: +1
This would be very nice to have since this module would be used in different products with different set of code formats it should read. To be able to select format using some form of configuration would remove the step from rebuilding this project for every product.

[2021-06-10 13:01] mebjas commented on #220
Can you omit the `stop()` code?

Try with just the following?

[code]

[2021-06-10 13:29] Damsjov commented on #220
Thanks, but it still doesn't 'fire' - it just 'looks'...

[2021-06-11 15:36] mebjas commented on #177
Hoping to get this out in next version asap (see linked PR)

[2021-06-12 13:02] mebjas commented on #220
- Can you maybe add a video to show what is happening?
 - Do you see something on console?
-  Does the demo page work for you? https://blog.minhazav.dev/research/html5-qrcode
- What browser, OS are you using?

[2021-06-12 13:04] mebjas commented on #218
@SuikoHero38 Can you share more information on what this feature request will address?

Is the pain point around false negative scans due to small QR code or it's around viewing experience?

Please note one thing, the image file is never uploaded anywhere, its scanned locally on browser.

[2021-06-13 05:21] mebjas opened #223 "Fix false positive issue in RSS_14 scan properly"
While testing https://github.com/mebjas/html5-qrcode/pull/222 an issue was found in the library that once we scan a RSS 14 code format, the Zxing library would repeatedly give false positives on code scan. This is possibly a known issue in ZXing library - https://github.com/zxing-js/library/issues/211

For now the mitigation in https://github.com/mebjas/html5-qrcode/pull/222 has been to reinstanti

[2021-06-13 05:22] #177 closed

[2021-06-13 05:29] mebjas commented on #177
Feature support to be launched in version 2.0.8

 - Github release: https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.8
 - NPM: https://www.npmjs.com/package/html5-qrcode/v/2.0.8

[2021-06-13 05:32] mebjas opened #224 "[Feature Request] Return the code format scanned."
In the QR Code decoded result, return the code format scanned.

Feature request raised by other users before:

By @GumballLab at [demo page](https://blog.minhazav.dev/research/html5-qrcode)

By @lanost at discussion: https://github.com/mebjas/html5-qrcode/discussions/148#discussioncomment-860060

[2021-06-13 05:34] mebjas opened #225 "[Code cleanup] Reduce code health issue reported in Codacy: Tracking bug"
Several code health issues reported in Codacy - https://app.codacy.com/gh/mebjas/html5-qrcode/dashboard?branch=master

Goal is to reduce the issues:
 - [ ] 0 Error prone issues
 - [ ] 0 Security Issues
 - [ ] Less code style issues

[2021-06-13 05:36] mebjas commented on #199
Closing due to lack of information. Please reopen if the issue persists.

[2021-06-13 05:36] #199 closed

[2021-06-13 05:38] mebjas commented on #134
Closing this issue as resolved.

[2021-06-13 05:38] #134 closed

[2021-06-13 05:39] mebjas commented on #63
This issue is now resolved in new versions as we shifted to ZXing libraries. Closing for now, please reopen if the issue is still reproducible **in latest library version** - try with demo page: https://blog.minhazav.dev/research/html5-qrcode

[2021-06-13 05:39] #63 closed

[2021-06-13 06:48] mebjas commented on #225
All error prone and security issues fixed. Several code style related issues pending.

Improve the code health over time until we get `code quality - A` score.

 - [ ] [P2] Get code quality A score
     - [ ] Add a badge to read me

[2021-06-13 13:49] GuyInCorner opened #229 "Having issues with the camera image"
Having issues with the camera image:

- The camera image doesn't fill the phone screen.
- There are only two guide lines on the left, none on the right and they're not centered.
- The shaded area appears somewhat random and makes no sense.

This link is on a phone using a config of {fps: 10, qrbox: 225 }
https://www.dropbox.com/s/hrtj9sv8danwmn4/html5-qrcode_shader.jpeg?dl=0

I tried removing the

[2021-06-14 00:26] haimiko commented on #145
Managed to fix this by increasing the aspect ratio to 2.

[2021-06-14 02:58] sjlongland commented on #145
`aspectRatio` seems counter-intuitive, aren't QR codes meant to be square (1:1 ratio)?

[2021-06-14 04:24] haimiko commented on #145
it's the aspectRatio of the videostream which has the effect of enlarging/reducing the image.

[2021-06-14 05:11] mebjas commented on #225
Removing `P1` label as all security and error prone issues have been addressed

[2021-06-14 05:52] mebjas commented on #224
WIP demo updated to demo blog - https://blog.minhazav.dev/research/html5-qrcode

[2021-06-14 06:37] #224 closed

[2021-06-14 06:47] mebjas commented on #101
Update: Library has been migrated to use `Zxing-js` instead of `Lazarsoft` - https://github.com/mebjas/html5-qrcode/blob/master/changelog.md#version-200

[2021-06-14 06:47] mebjas commented on #101
Closing this issue for now, please reopen if this still exists.

[2021-06-14 06:47] #101 closed

[2021-06-14 07:14] mebjas commented on #225
Update code health is now down to:

[code]

[2021-06-14 07:15] mebjas commented on #225
Update code health is now down to:

[code]

**Grade: B**

[2021-06-14 07:38] Damsjov commented on #220
Hi,

Well, a video would just show the camera on and nothing happening. There is nothing in the console - it looks like an event that is never fired - or whatever it is called.

This code works:

function onScanSuccess(qrCodeMessage) {
                document.getElementById("qr-reader-results").innerHTML = "[something]";
                document.getElementById('reader').style.display = 'none';

[2021-06-14 07:42] mebjas commented on #225
Update code health is now down to:

[code]

**Grade: A**

[2021-06-14 07:57] mebjas commented on #225
Majority of the pending issues reported are of type:

[code]

 - [ ] Reduce method complexities, currently [16 issues](https://app.codacy.com/gh/mebjas/html5-qrcode/issues?bid=20927548&filters=W3siaWQiOiJMYW5ndWFnZSIsInZhbHVlcyI6W119LHsiaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6W119LHsiaWQiOiJMZXZlbCIsInZhbHVlcyI6W119LHsiaWQiOiJQYXR0ZXJuIiwidmFsdWVzIjpbIjE1NjYiXX0seyJpZCI6IkF1dGhvciIsInZhbHVlcyI6W119XQ==)

[2021-06-14 08:16] mebjas commented on #225
Update code health is now down to:

[code]

**Grade: A**

[2021-06-14 12:10] ROBERT-MCDOWELL opened #234 "Replace URL images by base64 to avoid multiple cross domain server requests"
ASSET_FILE_SCAN="data:image/gif;base64,R0lGODlhMgAyAPcAAPv7+wMDA/Pz8xMTE+Pj4zMzM0NDQyMjI1NTU4ODg6Ojo5OTk7Ozs3Nzc2NjY9PT0wsLC8PDwxsbG0tLSzs7O1tbW+vr6ysrK2tra5ubm7u7u4uLi6urq8vLy9vb23t7ewAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

[2021-06-14 12:45] mebjas commented on #234
Thanks for the reminder and sharing the assets, created a PR to be merged in version 2.0.10

[2021-06-14 12:47] mebjas commented on #192
@ROBERT-MCDOWELL - this PR should also address the need for a relative asset

[2021-06-14 12:49] #234 closed

[2021-06-14 12:49] #192 closed

[2021-06-14 12:51] mebjas commented on #234
Source with embedded assets pushed to `v2.0.10`

Github release: https://github.com/mebjas/html5-qrcode/releases/tag/V2.0.10
npm: https://www.npmjs.com/package/html5-qrcode

[2021-06-15 18:49] bettinz opened #237 "Error when using Webpack with symfony"
**Describe the bug**
Hello, I'm having errors when using Webpack with your library on symfony

**To Reproduce**
Steps to reproduce the behavior:
1. `` yarn add --dev 'html5-qrcode'``
2. in app.js add ``import 'html5-qrcode';``
3. Create qrcode.js with this code:
[code]
4. In your webpack.config.js add
``    .addEntry('qrcode_js', './assets/js/qrcode.js')``
4. In your page.html.twig add
[code]

In

[2021-06-16 12:14] ROBERT-MCDOWELL commented on #188
ok the best way to avoid globalThis undefined on browser older than chrome 72 and firefox 60 is to change
the order
global || self || globalThis || window || undefined
various other github project using zxing.
I don't know why xzing libs didn't change it.

[2021-06-16 12:27] ROBERT-MCDOWELL commented on #188
The best solution I found is to put on top of the code
const globalThis = this["globalThis"] || this['global'] || this['self'] || this['window'] || null;
browser not recognizing globalThis now works.

[2021-06-16 12:46] mebjas commented on #214
Duplicate of https://github.com/mebjas/html5-qrcode/issues/85 - please follow that issue, I'll take that on soon

[2021-06-16 12:47] mebjas commented on #214
Please reopen if that is not the case. Also, it'd be helpful if you could share full use-case in https://github.com/mebjas/html5-qrcode/issues/85

[2021-06-16 12:47] #214 closed

[2021-06-16 14:54] mebjas commented on #195
I prototyped this approach and it seems to run faster on my Macbook / Google Chrome. Need to test this on more devices including mobile devices. On the Mac it seemed to be running at 2x speed as compared to ZXing based decoder and have support for majority of the formats listed

[2021-06-16 15:07] mebjas commented on #188
it's coming from https://github.com/mebjas/html5-qrcode/blob/master/third_party/zxing-js.umd.js (fork of Zxing library in this project).

I'll try to fix it as you mentioned.

[2021-06-19 18:39] Cr0aten opened #239 "[Feature Request] Publish separate minified js files for HTML5Qrcode and HTML5QRcodeScanner"
Hello,

It would be nice if a smaller minified js file could be published along side the full version that does not include the functionality and resource files included with HTML5QrcodeScanner for implementations using just the HTML5Qrcode functionality and not the full UI implementation. This would allow for a smaller js file for implementations that don't need the full UI.

Thanks!

[2021-06-20 10:31] mebjas commented on #195
Using native library has clear performance benefits but the support is not good yet.

| Device | With ZXing | With BarcodeDecoder |
|--|--|--|
| Macbook Pro 16, Google Chrome | 21 ms |  10 ms|
| Pixel 4 Google Chrome | 56 ms | 23 ms |
| Pixel 4a Google Chrome | 92 ms| 47.3 ms |
| (low end) Android Device Google Chrome | 373 ms | 77.5 ms|

[2021-06-20 10:31] #195 closed

[2021-06-20 18:14] ROBERT-MCDOWELL opened #240 "htmlentity &nbsp; visible in IOS safari 14.6"
between "select camera(X0&nbsp;<select.....>
the &nbsp; is not considered as an html entity. Not visible in Android, Windows, Linux

[2021-06-21 13:20] mebjas commented on #240
yeah this was just fixed in `v2.0.11` - could you verify?

[2021-06-21 13:45] ROBERT-MCDOWELL commented on #240
still the same :(

[2021-06-22 05:44] AndreyPatseiko opened #242 "Don't read CODE_128, CODE_93."
Library don't scan some barcodes.

Steps to reproduce:
1. Open [demo link](https://blog.minhazav.dev/research/html5-qrcode.html)
2. Start scanning.
3. Try scan  CODE_128, CODE_93 images (which was provided in support types).

**Expected behavior**
Scanning was successful..

**Result**
Nothing not happen. Scanning not happen.

**Screenshots**
![code_39](https://user-images.githubusercontent.com/182

[2021-06-22 13:36] ROBERT-MCDOWELL commented on #240
apparently it appears only on Safari and Firefox.
chrome and chrome like + edge are ok

[2021-06-25 19:49] phoenixfire425 opened #243 "Cannot Scan DataMatrix codes that are between 5mm - 10mm (CANNOT ZOOM VIDEO)"
**Describe the bug**
When scanning Data Matrix codes that are < 10mm it will not read.

Ideally it would be great if we could zoom in on the canvas to have it render or read the barcode.

Using something like Scandit https://websdk.scandit.com/  works flawlessly on these sizes.

I am wondering what they are doing different that would help this scan better

So i have two issues

1) Cannot scan < 10

[2021-06-26 14:39] ameyamjoshi opened #244 "Minified Js Path wrong"
**Minified js path not found**

When we try to use github link it shows page not found .

The path which is mentioned in current README.md is "https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js" and it gives 404 pag not found .

To use the functionality I had to download source code and use in my project .
![github](https://user-images.githubusercontent.com/5

[2021-06-26 20:50] Cr0aten commented on #244
Try this:  https://github.com/mebjas/html5-qrcode/raw/master/dist/html5-qrcode.min.js

[2021-06-27 07:55] mebjas commented on #244
Thanks for raising this issue - fixed with https://github.com/mebjas/html5-qrcode/commit/09985974736fcea38c39d810ff7270699495efc5

@Cr0aten thanks for providing quick pointer

[2021-06-27 07:55] #244 closed

[2021-06-27 08:05] mebjas commented on #240
For some reason I cannot reproduce this on iOS 13.0, Safari.
Cannot reproduce this on Chrome / Safari on Mac either.

This was recently fixed, maybe some cache issue? Can you try again.

[2021-06-27 08:49] mebjas commented on #174
Closing for now, please reopen if issue still exists!

[2021-06-27 08:49] #174 closed

[2021-06-27 08:55] #106 closed

[2021-06-27 08:55] mebjas commented on #90
Implemented in `2.0.10`

https://github.com/mebjas/html5-qrcode/blob/master/changelog.md#version-2010

[2021-06-27 08:55] #90 closed

[2021-06-27 08:55] mebjas commented on #61
Implemented

[2021-06-27 08:55] #61 closed

[2021-06-27 08:56] mebjas commented on #20
Duplicate of https://github.com/mebjas/html5-qrcode/issues/190

[2021-06-27 08:56] #20 closed

[2021-06-27 12:06] ROBERT-MCDOWELL commented on #240
My tests are on iOS 14.6
Chrome is ok,  the issue is just on Safari and Firefox.
I'm always working my dev with browser cache disabled.

[2021-07-05 15:56] denguyen-tvit commented on #187
@joshmoto please make sure you loaded script successfully
<img width="1688" alt="Screen Shot 2021-07-05 at 22 47 05" src="https://user-images.githubusercontent.com/21253586/124495982-0835f280-dde3-11eb-85f4-cc9878b43183.png">

@dampee
I succeed to use with ADM loading (because I use for Magento 2)

<img width="399" alt="Screen Shot 2021-07-05 at 22 51 20" src="https://user-images.githubusercontent

[2021-07-06 01:25] thecpdubguy opened #248 "TypeError: window._ is undefined"
**Describe the bug**
Following the example here #113 I was unable to get this to work as a stand alone react component.

[code]

I am getting an error saying `TypeError: window._ is undefined` in the browser. I have fiddled around with different attempts but have not been able to find a solution. I have also tried importing this library into my top level index.html file but to no avail. I'd be hap

[2021-07-06 01:31] thecpdubguy commented on #248
<details>
<summary>Didn't want to have the huge error long output above so here it is in a spoiler for reference</summary>

[code]

</details>

[2021-07-07 08:07] zibranyiszgabor commented on #243
Yes this is a problem. I can't scan a little QR codes. :(

[2021-07-07 13:18] Techn1c4l commented on #170
A bit late, but thanks for implementing this feature.

[2021-07-07 14:54] zibranyiszgabor opened #251 "Cannot read small QR codes"
**Describe the bug**
Cannot read 1cm or smaller size codes.
The phone's default focus is already far from the code .

**Smartphone (please complete the following information):**
 - Android: sometimes succeed
 - Iphone: never succeed

**Additional context**
The camera's image is too far from the code.
It would be a solution if we could add the camera starting zoom beside qrbox parameter or would wo

[2021-07-10 03:31] mkinit opened #253 "Cannot work on iphone7-ios11.3-safari"
ReferenceReeor: Can't find variable: globalThis
TypeError: undefined is not a constructor

[2021-07-10 03:39] mkinit commented on #253
Can work: https://github.com/mebjas/html5-qrcode/releases/tag/V1.2.3

[2021-07-10 03:39] #253 closed

[2021-07-14 09:37] strongishllama commented on #248
Same issue for me when using Vue. I've tried a couple of different versions with no luck.

[2021-07-15 09:20] sep2 commented on #248
Use it this way:

[code]

[2021-07-16 10:44] thk-root commented on #219
I used to fix this using object-fit and width, height 100% on video element, however since an (unknown) update, this no longer works.. Such a shame, I wasted a couple hours now, trying to figure it out.

[2021-07-18 23:04] strongishllama commented on #248
@sep2 Are you talking about using your example in React? That snippet didn't compile for me using Vue and Typescript.

[2021-07-20 03:54] sep2 commented on #248
The problem is the last three lines in the minified file, I ended up loading the js file from url using dynamically created script tag.

[2021-07-20 13:24] HamzaAlvi719 commented on #248
Can you please specify where to add the script given above?

[2021-07-22 02:38] tiendung88 opened #254 "Should this work when the barcode is rotated to 90 degrees ?"
I have tested in 1d barcode but this does not work when barcode is rotated >40 degrees, Is there any solution for this ?. sorry, my english is not good

[2021-07-26 13:48] HamzaAlvi719 opened #256 "Html5Qrcode.getCameras is not a function"
I have followed the guide and implemented the same code. But I get this error every time and I can't resolve it.

[2021-07-26 15:48] ROBERT-MCDOWELL commented on #256
what browser and version?

[2021-07-27 10:10] HamzaAlvi719 commented on #256
@ROBERT-MCDOWELL and @mebjas my browser is chromium and version is Version 92.0.4515.107 (Official Build) snap (64-bit)

[2021-07-27 12:12] ROBERT-MCDOWELL commented on #254
I think this is a normal behavior of a converntional barcode scanner. the code must be the most parallel possible to the scanner itself. for codes like qrcode I tested all angles possible and it works.

[2021-07-27 12:14] ROBERT-MCDOWELL commented on #251
I think this is really depending on the camera quality. I have tested many different cameras, external and builtin from computers, laptop and smartphones and the results vary extremely.

[2021-07-27 12:15] ROBERT-MCDOWELL commented on #251
also, keep in mind the normal time use of cameras, it can be an iphone, but if this iphone had tough time in its life with the lens so the quality will be less and can affect the scanning.

[2021-07-27 12:17] ROBERT-MCDOWELL commented on #248
is this issue can be closed?

[2021-07-27 12:18] ROBERT-MCDOWELL commented on #256
are you sure your html5Qrcode object is created when the page is fully loaded?

[2021-07-27 12:34] thecpdubguy commented on #248
I will try this later today. Haven't had time to work on personal projects. If it is resolved, I'll close this issue.

[2021-07-27 12:56] #256 closed

[2021-07-27 13:34] HamzaAlvi719 commented on #248
It didn't worked for me

[2021-07-30 12:29] stefann01 commented on #248
It didn't work for me also. Please provide a better react example. The one specified doesn't even have a constructor. Or try an example with functional component.

[2021-08-01 07:02] mebjas commented on #207
Some pure UI thoughts: https://www.figma.com/file/SdXeVf1pBoE9lcfjhYtFcd/Html5Qrcode?node-id=0%3A1